<?xml version="1.0" encoding="UTF-8"?>

{%- set cpus = []                   -%}
{%- for module in root.modules        -%}
    {%- if root.modules[module].modules.apps.modules.to is defined -%}
      {%- set cpus = cpus.append(root.modules[module].cpu_id) -%}
    {%- endif -%}
{%- endfor -%}

{%- set TO_Channels = []              -%}
{%- for module in root.modules        -%}
{%-   if root.modules[module].modules.apps is defined -%}
{%-     if root.modules[module].modules.apps.modules is defined -%}
{%-       if root.modules[module].modules.apps.modules.to is defined -%}
{%-         if root.modules[module].modules.apps.modules.to.tables is defined -%}
{%-           if root.modules[module].modules.apps.modules.to.tables._TO_CONFIG is defined -%}
{%-             if root.modules[module].modules.apps.modules.to.tables._TO_CONFIG is defined -%}
{%-               if root.modules[module].modules.apps.modules.to.tables._TO_CONFIG.channel is defined -%}
{%-                 for channel in root.modules[module].modules.apps.modules.to.tables._TO_CONFIG.channel -%}
{%-                   set cpuTarget = root.modules[module].cpu_id  -%}
{%-                   set pqueue = [] -%}
{%-                   if channel.instance[0] is defined -%}
{%-                     if channel.instance[0].priority_queue is defined -%}
{%-                       for pQueueIdx in channel.instance[0].priority_queue -%}
{%-                         set pqueue = pqueue.append({"name": pQueueIdx.name, "index": loop.index0}) -%}
{%-                       endfor -%}
{%-                       set TO_Channels = TO_Channels.append({'cpu_id': cpuTarget, 'name': channel.name, 'index': loop.index0, 'pqueues': pqueue}) -%}
{%-                     endif -%}
{%-                   endif -%}
{%-                 endfor -%}
{%-               endif -%}
{%-             endif -%}
{%-           endif -%}
{%-         endif -%}
{%-       endif -%}
{%-     endif -%}
{%-   endif -%}
{%- endfor -%}

{% set tlm = []                    -%}
{%- for msg in module.telemetry     -%}
    {%- set tlmMsg = {"name": msg, "msgID": module.telemetry[msg].msgID} -%}
    {%- set tlm = tlm.append(tlmMsg) -%}
{%- endfor  -%}

<display version="2.0.0">
  <name>($(CPUID) - $(APP)) TO - Remove Msg Flow</name>
  <macros>
    <CPUID>{{ cpu_id }}</CPUID>
    <include_parent_macros>true</include_parent_macros>
    <REGISTRY_PATH>/modules/$(CPUID)/modules/$(APP)</REGISTRY_PATH>
@BUILDLINER_CDR_MACRO_BLOCK@
@BUILDLINER_CDR_MACRO_BLOCK_CUSTOM@
  </macros>
  <width>450</width>
  <height>400</height>
  <actions>
  </actions>
  <scripts>
    <script file="EmbeddedJs">
      <text><![CDATA[importPackage(com.windhoverlabs.yamcs.script);
importPackage(Packages.org.csstudio.display.builder.runtime.script);

var msgName = widget.getEffectiveMacros().getValue("MSG_NAME");

if (msgName === undefined || msgName === null) {
    /* Message Name not defined.  Operate as usual. */
    ScriptUtil.findWidgetByName(widget, 'msgIdInput').setPropertyValue("visible", true);
    ScriptUtil.findWidgetByName(widget, 'msgName').setPropertyValue("visible", false);
    ScriptUtil.findWidgetByName(widget, 'msgName').setPropertyValue("text", "");
} else {
    /* Message Name was defined.  Hide the picker. */
    ScriptUtil.findWidgetByName(widget, 'msgIdInput').setPropertyValue("visible", false);
    ScriptUtil.findWidgetByName(widget, 'msgName').setPropertyValue("visible", true);
    ScriptUtil.findWidgetByName(widget, 'msgName').setPropertyValue("text", msgName);
}
]]></text>
      <pv_name>=1</pv_name>
    </script>
  </scripts>
  <grid_step_x>6</grid_step_x>
  <grid_step_y>6</grid_step_y>
  <widget type="label" version="2.0.0">
    <name>Label_49</name>
    <text>($(CPUID) - $(APP)) TO - Remove Message Flow</text>
    <x>24</x>
    <y>10</y>
    <width>319</width>
    <font>
      <font name="Default Bold" family="Liberation Sans" style="BOLD" size="14.0">
      </font>
    </font>
    <horizontal_alignment>1</horizontal_alignment>
    <vertical_alignment>1</vertical_alignment>
    <wrap_words>false</wrap_words>
    <actions>
    </actions>
    <border_color>
      <color red="0" green="128" blue="255">
      </color>
    </border_color>
  </widget>
  <widget type="label" version="2.0.0">
    <name>Label</name>
    <text>Message ID</text>
    <y>40</y>
    <width>109</width>
    <horizontal_alignment>2</horizontal_alignment>
    <vertical_alignment>1</vertical_alignment>
    <wrap_words>false</wrap_words>
    <actions>
    </actions>
    <border_color>
      <color red="0" green="128" blue="255">
      </color>
    </border_color>
  </widget>
  <widget type="combo" version="2.0.0">
    <name>msgIdInput</name>
    <pv_name>loc://$(APP)_$(CPUID)_TO_AddMessageFlow_MsgID&lt;VString&gt;("")</pv_name>
    <x>120</x>
    <y>40</y>
    <width>210</width>
    <height>20</height>
    <background_color>
      <color red="255" green="255" blue="255">
      </color>
    </background_color>
    <actions>
    </actions>
    <items>
{%- for msg in tlm     %}
      <item>{{- msg.name-}}</item>
{%- endfor  %}
    </items>
    <items_from_pv>false</items_from_pv>
  </widget>
  
{%- set group_y      = namespace(value=70)   -%}
{%- set group_height = 95   -%}
{%- for cpu in cpus %}

  <widget type="group" version="2.0.0">
    <name>{{ cpu }}</name>
    <x>12</x>
    <y>{{ group_y.value }}</y>
    <width>372</width>
    <height>96</height>
    <widget type="action_button" version="3.0.0">
      <name>NoOp</name>
      <actions>
        <action type="execute">
          <script file="EmbeddedJs">
            <text><![CDATA[importPackage(com.windhoverlabs.yamcs.script);
importPackage(Packages.org.csstudio.display.builder.runtime.script);

var MsgID = PVUtil.getString(ScriptUtil.getPrimaryPV(ScriptUtil.findWidgetByName(widget, 'msgIdInput')));
var ChannelIdx = PVUtil.getString(ScriptUtil.getPrimaryPV(ScriptUtil.findWidgetByName(widget, 'ChannelIdx_{{ cpu }}')));

var msgIDOut = '';
var channelIdxOut = '';

var msgName = widget.getEffectiveMacros().getValue("MSG_NAME");
if (msgName === undefined || msgName === null) {
    /* Message Name not defined.  Operate as usual. */
} else {
    MsgID = msgName;
}

/* Get actual message ID */


{%- for msg in tlm     %}
{%-   if loop.first -%}
if(MsgID == '{{- msg.name-}}') {
    msgIDOut = {{-msg.msgID-}};
}
{%-   else %}
else if(MsgID == '{{- msg.name-}}') {
    msgIDOut = {{-msg.msgID-}};
}
{%-   endif -%}
{%- endfor  %}

/* Get actual channel Index */
{%- for channel in TO_Channels %}
  {%- if channel.cpu_id == cpu %}
if(ChannelIdx == "{{ channel.name }}") {
  channelIdxOut = '{{ channel.index }}';
}
  {%- endif %}
{%- endfor %}

Yamcs.issueCommand(widget, '/cfs/{{ cpu }}/apps/to/RemoveMessageFlow', {
    'MsgID': msgIDOut,
    'ChannelIdx': channelIdxOut
});



]]></text>
          </script>
        </action>
      </actions>
      <text>Remove</text>
      <x>90</x>
      <y>35</y>
      <width>72</width>
      <height>20</height>
      <foreground_color>
        <color red="253" green="255" blue="255">
        </color>
      </foreground_color>
      <background_color>
        <color red="34" green="45" blue="75">
        </color>
      </background_color>
      <tooltip>$(actions)</tooltip>
      <border_alarm_sensitive>false</border_alarm_sensitive>
    </widget>
    <widget type="label" version="2.0.0">
      <name>Label_4</name>
      <text>Channel</text>
      <x>18</x>
      <y>4</y>
      <width>61</width>
      <horizontal_alignment>2</horizontal_alignment>
      <vertical_alignment>1</vertical_alignment>
      <wrap_words>false</wrap_words>
      <actions>
      </actions>
      <border_color>
        <color red="0" green="128" blue="255">
        </color>
      </border_color>
    </widget>
    <widget type="combo" version="2.0.0">
      <name>ChannelIdx_{{ cpu }}</name>
      <pv_name>loc://$(APP)_$(CPUID)_TO_AddMessageFlow_ChannelIndex_{{ cpu }}&lt;VString&gt;("")</pv_name>
      <x>90</x>
      <y>4</y>
      <width>210</width>
      <height>20</height>
      <background_color>
        <color red="255" green="255" blue="255">
        </color>
      </background_color>
      <actions>
      </actions>
      <items>
      {%- for channel in TO_Channels %}
        {%- if channel.cpu_id == cpu %}
          <item>{{ channel.name }}</item>
        {%- endif %}
      {%- endfor %}
      </items>
      <items_from_pv>false</items_from_pv>
    </widget>
  </widget>

    {%- set group_y.value = group_y.value + group_height   -%}
  {%- endfor   -%}

  <widget type="label" version="2.0.0">
    <name>msgName</name>
    <text>Message ID</text>
    <x>120</x>
    <y>40</y>
    <width>254</width>
    <vertical_alignment>1</vertical_alignment>
    <wrap_words>false</wrap_words>
    <actions>
    </actions>
    <border_width>1</border_width>
  </widget>

</display>
