table.table.table-condensed
  tr
    th DeviceID
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorAccelMsg_t/DeviceID'}]}) ---
  tr
    th ErrorCount
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorAccelMsg_t/ErrorCount'}]}) ---
  tr
    th IntegralDt
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorAccelMsg_t/IntegralDt'}]}) ---
  tr
    th Range_m_s2
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorAccelMsg_t/Range_m_s2'}]}) ---
  tr
    th Scaling
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorAccelMsg_t/Scaling'}]}) ---
  tr
    th Temperature
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorAccelMsg_t/Temperature'}]}) ---
  tr
    th TemperatureRaw
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorAccelMsg_t/TemperatureRaw'}]}) ---
  tr
    th Timestamp
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorAccelMsg_t/Timestamp'}]}) ---
  tr
    th X
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorAccelMsg_t/X'}]}) ---
  tr
    th XIntegral
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorAccelMsg_t/XIntegral'}]}) ---
  tr
    th XRaw
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorAccelMsg_t/XRaw'}]}) ---
  tr
    th Y
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorAccelMsg_t/Y'}]}) ---
  tr
    th YIntegral
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorAccelMsg_t/YIntegral'}]}) ---
  tr
    th YRaw
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorAccelMsg_t/YRaw'}]}) ---
  tr
    th Z
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorAccelMsg_t/Z'}]}) ---
  tr
    th ZIntegral
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorAccelMsg_t/ZIntegral'}]}) ---
  tr
    th ZRaw
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorAccelMsg_t/ZRaw'}]}) ---
