table.table.table-condensed
  tr
    th ApplyFlaps
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleAttitudeSetpointMsg_t/ApplyFlaps'}]}) ---
  tr
    th DisableMcYawControl
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleAttitudeSetpointMsg_t/DisableMcYawControl'}]}) ---
  tr
    th FwControlYaw
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleAttitudeSetpointMsg_t/FwControlYaw'}]}) ---
  tr
    th LandingGear
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleAttitudeSetpointMsg_t/LandingGear'}]}) ---
  tr
    th PitchBody
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleAttitudeSetpointMsg_t/PitchBody'}]}) ---
  tr
    th PitchResetIntegral
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleAttitudeSetpointMsg_t/PitchResetIntegral'}]}) ---
  tr
    th Q_D[0]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleAttitudeSetpointMsg_t/Q_D[0]'}]}) ---
  tr
    th Q_D[1]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleAttitudeSetpointMsg_t/Q_D[1]'}]}) ---
  tr
    th Q_D[2]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleAttitudeSetpointMsg_t/Q_D[2]'}]}) ---
  tr
    th Q_D[3]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleAttitudeSetpointMsg_t/Q_D[3]'}]}) ---
  tr
    th Q_D_Valid
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleAttitudeSetpointMsg_t/Q_D_Valid'}]}) ---
  tr
    th RollBody
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleAttitudeSetpointMsg_t/RollBody'}]}) ---
  tr
    th RollResetIntegral
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleAttitudeSetpointMsg_t/RollResetIntegral'}]}) ---
  tr
    th Thrust
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleAttitudeSetpointMsg_t/Thrust'}]}) ---
  tr
    th Timestamp
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleAttitudeSetpointMsg_t/Timestamp'}]}) ---
  tr
    th YawBody
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleAttitudeSetpointMsg_t/YawBody'}]}) ---
  tr
    th YawResetIntegral
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleAttitudeSetpointMsg_t/YawResetIntegral'}]}) ---
  tr
    th YawSpMoveRate
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleAttitudeSetpointMsg_t/YawSpMoveRate'}]}) ---
