#VehicleGlobalVelocitySetpointMsg_V(style='width: 100%; height: 100%; font-size: 14px;')

script.
  $(function () {
    var dataplotDef = {
      'data': [
        { 'tlm': {'name': '/PX4/PX4_VehicleGlobalVelocitySetpointMsg_t/VX'},
          'label': 'X',
          'color': '#ffff00'
        },
        { 'tlm': {'name': '/PX4/PX4_VehicleGlobalVelocitySetpointMsg_t/VY'},
          'label': 'Y',
          'color': '#ff00ff'
        },
        { 'tlm': {'name': '/PX4/PX4_VehicleGlobalVelocitySetpointMsg_t/VZ'},
          'label': 'Z',
          'color': '#00ffff'
        },
      ],
      'options': {
      }
    };
    var dataplot = new CdrTimeSeriesDataplot($('#VehicleGlobalVelocitySetpointMsg_V'), dataplotDef);
  });