#BatteryStatusMsg_CurrentFiltered(style='width: 100%; height: 100%; font-size: 14px;')

script.
  $(function () {
    var dataplotDef = {
      'data': [
        { 'tlm': {'name': '/PX4/PX4_BatteryStatusMsg_t/CurrentFiltered'},
          'label': 'Battery Current (filtered)',
          'color': '#ffffff'
        }
      ],
      'options': {
      }
    };
    var dataplot = new CdrTimeSeriesDataplot($('#BatteryStatusMsg_CurrentFiltered'), dataplotDef);
  });