#SensorCombinedMsg_RelTimeInvalid(style='width: 100%; height: 100%; font-size: 14px;')

script.
  $(function () {
    var dataplotDef = {
      'data': [
        { 'tlm': {'name': '/PX4/PX4_SensorCombinedMsg_t/AccRelTimeInvalid'},
          'label': 'Acc',
          'color': '#ffff00'
        },
        { 'tlm': {'name': '/PX4/PX4_SensorCombinedMsg_t/BaroRelTimeInvalid'},
          'label': 'Baro',
          'color': '#ff00ff'
        },
        { 'tlm': {'name': '/PX4/PX4_SensorCombinedMsg_t/MagRelTimeInvalid'},
          'label': 'Mag',
          'color': '#00ffff'
        }
      ],
      'options': {
      }
    };
    var dataplot = new CdrTimeSeriesDataplot($('#SensorCombinedMsg_RelTimeInvalid'), dataplotDef);
  });