table.table.table-condensed
  tr
    th SafetyOff
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SafetyMsg_t/SafetyOff'}]}) ---
  tr
    th SafetySwitchAvailable
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SafetyMsg_t/SafetySwitchAvailable'}]}) ---
  tr
    th Timestamp
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SafetyMsg_t/Timestamp'}]}) ---
