table.table.table-condensed
  tr
    th Pitch
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleRatesSetpointMsg_t/Pitch'}]}) ---
  tr
    th Roll
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleRatesSetpointMsg_t/Roll'}]}) ---
  tr
    th Thrust
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleRatesSetpointMsg_t/Thrust'}]}) ---
  tr
    th Timestamp
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleRatesSetpointMsg_t/Timestamp'}]}) ---
  tr
    th Yaw
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleRatesSetpointMsg_t/Yaw'}]}) ---
