table.table.table-condensed
  tr
    th PitchRateInteg
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_McAttCtrlStatusMsg_t/PitchRateInteg'}]}) ---
  tr
    th RollRateInteg
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_McAttCtrlStatusMsg_t/RollRateInteg'}]}) ---
  tr
    th Timestamp
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_McAttCtrlStatusMsg_t/Timestamp'}]}) ---
  tr
    th YawRateInteg
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_McAttCtrlStatusMsg_t/YawRateInteg'}]}) ---
