#EstimatorStatus_States(style='width: 100%; height: 100%; font-size: 14px;')

script.
  $(function () {
    var dataplotDef = {
      'data': [
        { 'tlm': {'name': '/PX4/PX4_EstimatorStatusMsg_t/States[0]'},
          'label': '0'
        },
        { 'tlm': {'name': '/PX4/PX4_EstimatorStatusMsg_t/States[1]'},
          'label': '1'
        },
        { 'tlm': {'name': '/PX4/PX4_EstimatorStatusMsg_t/States[2]'},
          'label': '2'
        },
        { 'tlm': {'name': '/PX4/PX4_EstimatorStatusMsg_t/States[3]'},
          'label': '3'
        },
        { 'tlm': {'name': '/PX4/PX4_EstimatorStatusMsg_t/States[4]'},
          'label': '4'
        },
        { 'tlm': {'name': '/PX4/PX4_EstimatorStatusMsg_t/States[5]'},
          'label': '5'
        },
        { 'tlm': {'name': '/PX4/PX4_EstimatorStatusMsg_t/States[6]'},
          'label': '6'
        },
        { 'tlm': {'name': '/PX4/PX4_EstimatorStatusMsg_t/States[7]'},
          'label': '7'
        },
        { 'tlm': {'name': '/PX4/PX4_EstimatorStatusMsg_t/States[8]'},
          'label': '8'
        },
        { 'tlm': {'name': '/PX4/PX4_EstimatorStatusMsg_t/States[9]'},
          'label': '9'
        },
        { 'tlm': {'name': '/PX4/PX4_EstimatorStatusMsg_t/States[10]'},
          'label': '10'
        },
        { 'tlm': {'name': '/PX4/PX4_EstimatorStatusMsg_t/States[11]'},
          'label': '11'
        },
        { 'tlm': {'name': '/PX4/PX4_EstimatorStatusMsg_t/States[12]'},
          'label': '12'
        },
        { 'tlm': {'name': '/PX4/PX4_EstimatorStatusMsg_t/States[13]'},
          'label': '13'
        },
        { 'tlm': {'name': '/PX4/PX4_EstimatorStatusMsg_t/States[14]'},
          'label': '14'
        },
        { 'tlm': {'name': '/PX4/PX4_EstimatorStatusMsg_t/States[15]'},
          'label': '15'
        },
        { 'tlm': {'name': '/PX4/PX4_EstimatorStatusMsg_t/States[16]'},
          'label': '16'
        },
        { 'tlm': {'name': '/PX4/PX4_EstimatorStatusMsg_t/States[17]'},
          'label': '17'
        },
        { 'tlm': {'name': '/PX4/PX4_EstimatorStatusMsg_t/States[18]'},
          'label': '18'
        },
        { 'tlm': {'name': '/PX4/PX4_EstimatorStatusMsg_t/States[19]'},
          'label': '19'
        },
        { 'tlm': {'name': '/PX4/PX4_EstimatorStatusMsg_t/States[20]'},
          'label': '20'
        },
        { 'tlm': {'name': '/PX4/PX4_EstimatorStatusMsg_t/States[21]'},
          'label': '21'
        },
        { 'tlm': {'name': '/PX4/PX4_EstimatorStatusMsg_t/States[22]'},
          'label': '22'
        },
        { 'tlm': {'name': '/PX4/PX4_EstimatorStatusMsg_t/States[23]'},
          'label': '23'
        },
        { 'tlm': {'name': '/PX4/PX4_EstimatorStatusMsg_t/States[24]'},
          'label': '24'
        },
        { 'tlm': {'name': '/PX4/PX4_EstimatorStatusMsg_t/States[25]'},
          'label': '25'
        },
        { 'tlm': {'name': '/PX4/PX4_EstimatorStatusMsg_t/States[26]'},
          'label': '26'
        },
        { 'tlm': {'name': '/PX4/PX4_EstimatorStatusMsg_t/States[27]'},
          'label': '27'
        },
        { 'tlm': {'name': '/PX4/PX4_EstimatorStatusMsg_t/States[28]'},
          'label': '28'
        },
        { 'tlm': {'name': '/PX4/PX4_EstimatorStatusMsg_t/States[29]'},
          'label': '29'
        },
        { 'tlm': {'name': '/PX4/PX4_EstimatorStatusMsg_t/States[30]'},
          'label': '30'
        },
        { 'tlm': {'name': '/PX4/PX4_EstimatorStatusMsg_t/States[31]'},
          'label': '31'
        },
      ],
      'options': {
      }
    };
    var dataplot = new CdrTimeSeriesDataplot($('#EstimatorStatus_States'), dataplotDef);
  });