table.table.table-condensed
  tr
    th AirTemperature
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_AirspeedMsg_t/AirTemperature'}]}) ---
  tr
    th Confidence
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_AirspeedMsg_t/Confidence'}]}) ---
  tr
    th IndicatedAirspeed
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_AirspeedMsg_t/IndicatedAirspeed'}]}) ---
  tr
    th Timestamp
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_AirspeedMsg_t/Timestamp'}]}) ---
  tr
    th TrueAirspeed
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_AirspeedMsg_t/TrueAirspeed'}]}) ---
  tr
    th TrueAirspeedUnfiltered
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_AirspeedMsg_t/TrueAirspeedUnfiltered'}]}) ---
