table.table.table-condensed
  tr
    th PitchSpeed
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleAttitudeMsg_t/PitchSpeed'}]}) ---
  tr
    th Q[0]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleAttitudeMsg_t/Q[0]'}]}) ---
  tr
    th Q[1]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleAttitudeMsg_t/Q[1]'}]}) ---
  tr
    th Q[2]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleAttitudeMsg_t/Q[2]'}]}) ---
  tr
    th Q[3]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleAttitudeMsg_t/Q[3]'}]}) ---
  tr
    th RollSpeed
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleAttitudeMsg_t/RollSpeed'}]}) ---
  tr
    th Timestamp
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleAttitudeMsg_t/Timestamp'}]}) ---
  tr
    th YawSpeed
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleAttitudeMsg_t/YawSpeed'}]}) ---
