table.table.table-condensed
  tr
    th ControlModeFlags
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/ControlModeFlags'}]}) ---
  tr
    th Covariances[0]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[0]'}]}) ---
  tr
    th Covariances[1]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[1]'}]}) ---
  tr
    th Covariances[2]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[2]'}]}) ---
  tr
    th Covariances[3]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[3]'}]}) ---
  tr
    th Covariances[4]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[4]'}]}) ---
  tr
    th Covariances[5]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[5]'}]}) ---
  tr
    th Covariances[6]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[6]'}]}) ---
  tr
    th Covariances[7]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[7]'}]}) ---
  tr
    th Covariances[8]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[8]'}]}) ---
  tr
    th Covariances[9]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[9]'}]}) ---
  tr
    th Covariances[10]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[10]'}]}) ---
  tr
    th Covariances[11]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[11]'}]}) ---
  tr
    th Covariances[12]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[12]'}]}) ---
  tr
    th Covariances[13]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[13]'}]}) ---
  tr
    th Covariances[14]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[14]'}]}) ---
  tr
    th Covariances[15]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[15]'}]}) ---
  tr
    th Covariances[16]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[16]'}]}) ---
  tr
    th Covariances[17]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[17]'}]}) ---
  tr
    th Covariances[18]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[18]'}]}) ---
  tr
    th Covariances[19]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[19]'}]}) ---
  tr
    th Covariances[20]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[20]'}]}) ---
  tr
    th Covariances[21]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[21]'}]}) ---
  tr
    th Covariances[22]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[22]'}]}) ---
  tr
    th Covariances[23]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[23]'}]}) ---
  tr
    th Covariances[24]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[24]'}]}) ---
  tr
    th Covariances[25]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[25]'}]}) ---
  tr
    th Covariances[26]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[26]'}]}) ---
  tr
    th Covariances[27]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Covariances[27]'}]}) ---
  tr
    th FilterFaultFlags
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/FilterFaultFlags'}]}) ---
  tr
    th GpsCheckFailFlags
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/GpsCheckFailFlags'}]}) ---
  tr
    th HealthFlags
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/HealthFlags'}]}) ---
  tr
    th NanFlags
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/NanFlags'}]}) ---
  tr
    th NumStates
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/NumStates'}]}) ---
  tr
    th States[0]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[0]'}]}) ---
  tr
    th States[1]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[1]'}]}) ---
  tr
    th States[2]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[2]'}]}) ---
  tr
    th States[3]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[3]'}]}) ---
  tr
    th States[4]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[4]'}]}) ---
  tr
    th States[5]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[5]'}]}) ---
  tr
    th States[6]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[6]'}]}) ---
  tr
    th States[7]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[7]'}]}) ---
  tr
    th States[8]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[8]'}]}) ---
  tr
    th States[9]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[9]'}]}) ---
  tr
    th States[10]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[10]'}]}) ---
  tr
    th States[11]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[11]'}]}) ---
  tr
    th States[12]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[12]'}]}) ---
  tr
    th States[13]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[13]'}]}) ---
  tr
    th States[14]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[14]'}]}) ---
  tr
    th States[15]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[15]'}]}) ---
  tr
    th States[16]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[16]'}]}) ---
  tr
    th States[17]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[17]'}]}) ---
  tr
    th States[18]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[18]'}]}) ---
  tr
    th States[19]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[19]'}]}) ---
  tr
    th States[20]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[20]'}]}) ---
  tr
    th States[21]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[21]'}]}) ---
  tr
    th States[22]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[22]'}]}) ---
  tr
    th States[23]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[23]'}]}) ---
  tr
    th States[24]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[24]'}]}) ---
  tr
    th States[25]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[25]'}]}) ---
  tr
    th States[26]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[26]'}]}) ---
  tr
    th States[27]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[27]'}]}) ---
  tr
    th States[28]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[28]'}]}) ---
  tr
    th States[29]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[29]'}]}) ---
  tr
    th States[30]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[30]'}]}) ---
  tr
    th States[31]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/States[31]'}]}) ---
  tr
    th TimeoutFlags
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/TimeoutFlags'}]}) ---
  tr
    th Timestamp
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Timestamp'}]}) ---
  tr
    th Vibe[0]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Vibe[0]'}]}) ---
  tr
    th Vibe[1]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Vibe[1]'}]}) ---
  tr
    th Vibe[2]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_EstimatorStatusMsg_t/Vibe[2]'}]}) ---
