table.table.table-condensed
  tr
    th DifferentialPressureFiltered
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_DifferentialPressureMsg_t/DifferentialPressureFiltered'}]}) ---
  tr
    th DifferentialPressureRaw
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_DifferentialPressureMsg_t/DifferentialPressureRaw'}]}) ---
  tr
    th ErrorCount
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_DifferentialPressureMsg_t/ErrorCount'}]}) ---
  tr
    th Temperature
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_DifferentialPressureMsg_t/Temperature'}]}) ---
  tr
    th Timestamp
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_DifferentialPressureMsg_t/Timestamp'}]}) ---
