table.table.table-condensed
  tr
    th Timestamp
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.Timestamp'}]}) ---
  tr
    th AccelerationIsForce
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.AccelerationIsForce'}]}) ---
  tr
    th AccelerationValid
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.AccelerationValid'}]}) ---
  tr
    th AcceptanceRadius
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.AcceptanceRadius'}]}) ---
  tr
    th Alt
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.Alt'}]}) ---
  tr
    th AltValid
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.AltValid'}]}) ---
  tr
    th AX
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.AX'}]}) ---
  tr
    th AY
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.AY'}]}) ---
  tr
    th AZ
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.AZ'}]}) ---
  tr
    th CruisingSpeed
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.CruisingSpeed'}]}) ---
  tr
    th CruisingThrottle
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.CruisingThrottle'}]}) ---
  tr
    th DisableMcYawControl
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.DisableMcYawControl'}]}) ---
  tr
    th Lat
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.Lat'}]}) ---
  tr
    th LoiterDirection
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.LoiterDirection'}]}) ---
  tr
    th LoiterRadius
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.LoiterRadius'}]}) ---
  tr
    th Lon
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.Lon'}]}) ---
  tr
    th PitchMin
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.PitchMin'}]}) ---
  tr
    th Type
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.Type'}]}) ---
  tr
    th Valid
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.Valid'}]}) ---
  tr
    th VelocityFrame
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.VelocityFrame'}]}) ---
  tr
    th VelocityValid
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.VelocityValid'}]}) ---
  tr
    th VX
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.VX'}]}) ---
  tr
    th VY
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.VY'}]}) ---
  tr
    th VZ
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.VZ'}]}) ---
  tr
    th X
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.X'}]}) ---
  tr
    th Y
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.Y'}]}) ---
  tr
    th Z
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.Z'}]}) ---
  tr
    th Yaw
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.Yaw'}]}) ---
  tr
    th YawspeedValid
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.YawspeedValid'}]}) ---
  tr
    th YawValid
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Current.YawValid'}]}) ---
  
