#SensorBaroMsg_Altitude(style='width: 100%; height: 100%; font-size: 14px;')

script.
  $(function () {
    var dataplotDef = {
      'data': [
        { 'tlm': {'name': '/PX4/PX4_SensorBaroMsg_t/Altitude'},
          'label': 'Altitude',
          'color': '#ffffff'
        }
      ],
      'options': {
      }
    };
    var dataplot = new CdrTimeSeriesDataplot($('#SensorBaroMsg_Altitude'), dataplotDef);
  });