table.table.table-condensed
  tr
    th Alt
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGpsPositionMsg_t/Alt'}]}) ---
  tr
    th AltEllipsoid
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGpsPositionMsg_t/AltEllipsoid'}]}) ---
  tr
    th COG
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGpsPositionMsg_t/COG'}]}) ---
  tr
    th CVariance
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGpsPositionMsg_t/CVariance'}]}) ---
  tr
    th EpH
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGpsPositionMsg_t/EpH'}]}) ---
  tr
    th EpV
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGpsPositionMsg_t/EpV'}]}) ---
  tr
    th FixType
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGpsPositionMsg_t/FixType'}]}) ---
  tr
    th HDOP
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGpsPositionMsg_t/HDOP'}]}) ---
  tr
    th JammingIndicator
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGpsPositionMsg_t/JammingIndicator'}]}) ---
  tr
    th Lat
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGpsPositionMsg_t/Lat'}]}) ---
  tr
    th Lon
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGpsPositionMsg_t/Lon'}]}) ---
  tr
    th NoisePerMs
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGpsPositionMsg_t/NoisePerMs'}]}) ---
  tr
    th SVariance
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGpsPositionMsg_t/SVariance'}]}) ---
  tr
    th SatellitesUsed
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGpsPositionMsg_t/SatellitesUsed'}]}) ---
  tr
    th TimeUtcUsec
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGpsPositionMsg_t/TimeUtcUsec'}]}) ---
  tr
    th Timestamp
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGpsPositionMsg_t/Timestamp'}]}) ---
  tr
    th TimestampTimeRelative
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGpsPositionMsg_t/TimestampTimeRelative'}]}) ---
  tr
    th VDOP
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGpsPositionMsg_t/VDOP'}]}) ---
  tr
    th VelNedValid
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGpsPositionMsg_t/VelNedValid'}]}) ---
  tr
    th Vel_d_m_s
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGpsPositionMsg_t/Vel_d_m_s'}]}) ---
  tr
    th Vel_e_m_s
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGpsPositionMsg_t/Vel_e_m_s'}]}) ---
  tr
    th Vel_m_s
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGpsPositionMsg_t/Vel_m_s'}]}) ---
  tr
    th Vel_n_m_s
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGpsPositionMsg_t/Vel_n_m_s'}]}) ---
      
