table.table.table-condensed
  tr
    th ComponentID
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_TelemetryStatusMsg_t/ComponentID'}]}) ---
  tr
    th Fixed
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_TelemetryStatusMsg_t/Fixed'}]}) ---
  tr
    th HeartbeatTime
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_TelemetryStatusMsg_t/HeartbeatTime'}]}) ---
  tr
    th Noise
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_TelemetryStatusMsg_t/Noise'}]}) ---
  tr
    th RSSI
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_TelemetryStatusMsg_t/RSSI'}]}) ---
  tr
    th RemoteNoise
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_TelemetryStatusMsg_t/RemoteNoise'}]}) ---
  tr
    th RemoteRSSI
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_TelemetryStatusMsg_t/RemoteRSSI'}]}) ---
  tr
    th RxErrors
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_TelemetryStatusMsg_t/RxErrors'}]}) ---
  tr
    th SystemID
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_TelemetryStatusMsg_t/SystemID'}]}) ---
  tr
    th TelemTime
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_TelemetryStatusMsg_t/TelemTime'}]}) ---
  tr
    th Timestamp
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_TelemetryStatusMsg_t/Timestamp'}]}) ---
  tr
    th TxBuf
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_TelemetryStatusMsg_t/TxBuf'}]}) ---
  tr
    th Type
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_TelemetryStatusMsg_t/Type'}]}) ---
