table.table.table-condensed
  tr
    th DeviceID
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorMagMsg_t/DeviceID'}]}) ---
  tr
    th ErrorCount
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorMagMsg_t/ErrorCount'}]}) ---
  tr
    th Range
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorMagMsg_t/Range'}]}) ---
  tr
    th Scaling
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorMagMsg_t/Scaling'}]}) ---
  tr
    th Temperature
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorMagMsg_t/Temperature'}]}) ---
  tr
    th Timestamp
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorMagMsg_t/Timestamp'}]}) ---
  tr
    th X
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorMagMsg_t/X'}]}) ---
  tr
    th XRaw
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorMagMsg_t/XRaw'}]}) ---
  tr
    th Y
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorMagMsg_t/Y'}]}) ---
  tr
    th YRaw
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorMagMsg_t/YRaw'}]}) ---
  tr
    th Z
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorMagMsg_t/Z'}]}) ---
  tr
    th ZRaw
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorMagMsg_t/ZRaw'}]}) ---
