table.table.table-condensed
  tr
    th Timestamp
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_MultirotorMotorLimitsMsg_t/Timestamp'}]}) ---
  tr
    th SaturationStatus.Flags.RollNeg
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_MultirotorMotorLimitsMsg_t/SaturationStatus.Flags.RollNeg'}]}) ---
  tr
    th SaturationStatus.Flags.PitchPos
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_MultirotorMotorLimitsMsg_t/SaturationStatus.Flags.PitchPos'}]}) ---
  tr
    th SaturationStatus.Flags.ThrustPos
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_MultirotorMotorLimitsMsg_t/SaturationStatus.Flags.ThrustPos'}]}) ---
  tr
    th SaturationStatus.Flags.YawPos
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_MultirotorMotorLimitsMsg_t/SaturationStatus.Flags.YawPos'}]}) ---
  tr
    th SaturationStatus.Flags.PitchNeg
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_MultirotorMotorLimitsMsg_t/SaturationStatus.Flags.PitchNeg'}]}) ---
  tr
    th SaturationStatus.Flags.YawNeg
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_MultirotorMotorLimitsMsg_t/SaturationStatus.Flags.YawNeg'}]}) ---
  tr
    th SaturationStatus.Flags.MotorPos
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_MultirotorMotorLimitsMsg_t/SaturationStatus.Flags.MotorPos'}]}) ---
  tr
    th SaturationStatus.Flags.MotorNeg
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_MultirotorMotorLimitsMsg_t/SaturationStatus.Flags.MotorNeg'}]}) ---
  tr
    th SaturationStatus.Flags.RollPos
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_MultirotorMotorLimitsMsg_t/SaturationStatus.Flags.RollPos'}]}) ---
  tr
    th SaturationStatus.Flags.ThrustNeg
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_MultirotorMotorLimitsMsg_t/SaturationStatus.Flags.ThrustNeg'}]}) ---
  tr
    th SaturationStatus.Value
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_MultirotorMotorLimitsMsg_t/SaturationStatus.Value'}]}) ---
