table.table.table-condensed
  tr
    th ChannelCount
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_InputRcMsg_t/ChannelCount'}]}) ---
  tr
    th InputSource
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_InputRcMsg_t/InputSource'}]}) ---
  tr
    th LastSignal
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_InputRcMsg_t/LastSignal'}]}) ---
  tr
    th RSSI
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_InputRcMsg_t/RSSI'}]}) ---
  tr
    th RcFailsafe
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_InputRcMsg_t/RcFailsafe'}]}) ---
  tr
    th RcLost
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_InputRcMsg_t/RcLost'}]}) ---
  tr
    th RcLostFrameCount
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_InputRcMsg_t/RcLostFrameCount'}]}) ---
  tr
    th RcPpmFrameLength
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_InputRcMsg_t/RcPpmFrameLength'}]}) ---
  tr
    th RcTotalFrameCount
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_InputRcMsg_t/RcTotalFrameCount'}]}) ---
  tr
    th Timestamp
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_InputRcMsg_t/Timestamp'}]}) ---
  tr
    th Values[0]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_InputRcMsg_t/Values[0]'}]}) ---
  tr
    th Values[1]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_InputRcMsg_t/Values[1]'}]}) ---
  tr
    th Values[2]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_InputRcMsg_t/Values[2]'}]}) ---
  tr
    th Values[3]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_InputRcMsg_t/Values[3]'}]}) ---
  tr
    th Values[4]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_InputRcMsg_t/Values[4]'}]}) ---
  tr
    th Values[5]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_InputRcMsg_t/Values[5]'}]}) ---
  tr
    th Values[6]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_InputRcMsg_t/Values[6]'}]}) ---
  tr
    th Values[7]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_InputRcMsg_t/Values[7]'}]}) ---
  tr
    th Values[8]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_InputRcMsg_t/Values[8]'}]}) ---
  tr
    th Values[9]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_InputRcMsg_t/Values[9]'}]}) ---
  tr
    th Values[10]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_InputRcMsg_t/Values[10]'}]}) ---
  tr
    th Values[11]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_InputRcMsg_t/Values[11]'}]}) ---
  tr
    th Values[12]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_InputRcMsg_t/Values[12]'}]}) ---
  tr
    th Values[13]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_InputRcMsg_t/Values[13]'}]}) ---
  tr
    th Values[14]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_InputRcMsg_t/Values[14]'}]}) ---
  tr
    th Values[15]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_InputRcMsg_t/Values[15]'}]}) ---
  tr
    th Values[16]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_InputRcMsg_t/Values[16]'}]}) ---
  tr
    th Values[17]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_InputRcMsg_t/Values[17]'}]}) ---
