#SensorGyroMsg_Gyro(style='width: 100%; height: 100%; font-size: 14px;')

script.
  $(function () {
    var dataplotDef = {
      'data': [
        { 'tlm': {'name': '/PX4/PX4_SensorGyroMsg_t/X'},
          'label': 'X',
          'color': '#ffff00'
        },
        { 'tlm': {'name': '/PX4/PX4_SensorGyroMsg_t/Y'},
          'label': 'Y',
          'color': '#ff00ff'
        },
        { 'tlm': {'name': '/PX4/PX4_SensorGyroMsg_t/Z'},
          'label': 'Z',
          'color': '#00ffff'
        }
      ],
      'options': {
      }
    };
    var dataplot = new CdrTimeSeriesDataplot($('#SensorGyroMsg_Gyro'), dataplotDef);
  });