table.table.table-condensed
  tr
    th AccX
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/AccX'}]}) ---
  tr
    th AccY
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/AccY'}]}) ---
  tr
    th AccZ
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/AccZ'}]}) ---
  tr
    th Airspeed
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/Airspeed'}]}) ---
  tr
    th AirspeedValid
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/AirspeedValid'}]}) ---
  tr
    th DeltaQReset[0]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/DeltaQReset[0]'}]}) ---
  tr
    th DeltaQReset[1]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/DeltaQReset[1]'}]}) ---
  tr
    th DeltaQReset[2]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/DeltaQReset[2]'}]}) ---
  tr
    th DeltaQReset[3]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/DeltaQReset[3]'}]}) ---
  tr
    th HorzAccMag
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/HorzAccMag'}]}) ---
  tr
    th PitchRate
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/PitchRate'}]}) ---
  tr
    th PitchRateBias
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/PitchRateBias'}]}) ---
  tr
    th PosVariance[0]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/PosVariance[0]'}]}) ---
  tr
    th PosVariance[1]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/PosVariance[1]'}]}) ---
  tr
    th PosVariance[2]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/PosVariance[2]'}]}) ---
  tr
    th PosX
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/PosX'}]}) ---
  tr
    th PosY
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/PosY'}]}) ---
  tr
    th PosZ
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/PosZ'}]}) ---
  tr
    th Q[0]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/Q[0]'}]}) ---
  tr
    th Q[1]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/Q[1]'}]}) ---
  tr
    th Q[2]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/Q[2]'}]}) ---
  tr
    th Q[3]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/Q[3]'}]}) ---
  tr
    th QuatResetCounter
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/QuatResetCounter'}]}) ---
  tr
    th RollRate
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/RollRate'}]}) ---
  tr
    th RollRateBias
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/RollRateBias'}]}) ---
  tr
    th Timestamp
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/Timestamp'}]}) ---
  tr
    th VelVariance[0]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/VelVariance[0]'}]}) ---
  tr
    th VelVariance[1]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/VelVariance[1]'}]}) ---
  tr
    th VelVariance[2]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/VelVariance[2]'}]}) ---
  tr
    th VelX
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/VelX'}]}) ---
  tr
    th VelY
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/VelY'}]}) ---
  tr
    th VelZ
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/VelZ'}]}) ---
  tr
    th YawRate
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/YawRate'}]}) ---
  tr
    th YawRateBias
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ControlStateMsg_t/YawRateBias'}]}) ---
