table.table.table-condensed
  tr
    th Covariance
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_DistanceSensorMsg_t/Covariance'}]}) ---
  tr
    th CurrentDistance
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_DistanceSensorMsg_t/CurrentDistance'}]}) ---
  tr
    th ID
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_DistanceSensorMsg_t/ID'}]}) ---
  tr
    th MaxDistance
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_DistanceSensorMsg_t/MaxDistance'}]}) ---
  tr
    th MinDistance
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_DistanceSensorMsg_t/MinDistance'}]}) ---
  tr
    th Orientation
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_DistanceSensorMsg_t/Orientation'}]}) ---
  tr
    th Timestamp
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_DistanceSensorMsg_t/Timestamp'}]}) ---
  tr
    th Type
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_DistanceSensorMsg_t/Type'}]}) ---
