table.table.table-condensed
  tr
    th Count
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorOutputsMsg_t/Count'}]}) ---
  tr
    th Output[0]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorOutputsMsg_t/Output[0]'}]}) ---
  tr
    th Output[1]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorOutputsMsg_t/Output[1]'}]}) ---
  tr
    th Output[2]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorOutputsMsg_t/Output[2]'}]}) ---
  tr
    th Output[3]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorOutputsMsg_t/Output[3]'}]}) ---
  tr
    th Output[4]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorOutputsMsg_t/Output[4]'}]}) ---
  tr
    th Output[5]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorOutputsMsg_t/Output[5]'}]}) ---
  tr
    th Output[6]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorOutputsMsg_t/Output[6]'}]}) ---
  tr
    th Output[7]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorOutputsMsg_t/Output[7]'}]}) ---
  tr
    th Output[8]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorOutputsMsg_t/Output[8]'}]}) ---
  tr
    th Output[9]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorOutputsMsg_t/Output[9]'}]}) ---
  tr
    th Output[10]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorOutputsMsg_t/Output[10]'}]}) ---
  tr
    th Output[11]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorOutputsMsg_t/Output[11]'}]}) ---
  tr
    th Output[12]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorOutputsMsg_t/Output[12]'}]}) ---
  tr
    th Output[13]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorOutputsMsg_t/Output[13]'}]}) ---
  tr
    th Output[14]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorOutputsMsg_t/Output[14]'}]}) ---
  tr
    th Output[15]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorOutputsMsg_t/Output[15]'}]}) ---
  tr
    th Timestamp
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorOutputsMsg_t/Timestamp'}]}) ---
