table.table.table-condensed
  tbody
    tr
      th Acc[0]
      td
        div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/Acc[0]', format:'%.3f'}]}) ---
    tr
      th Acc[1]
      td
        div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/Acc[1]', format:'%.3f'}]}) ---
    tr
      th Acc[2]
      td
        div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/Acc[2]', format:'%.3f'}]}) ---
    tr
      th AccIntegralDt
      td
        div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/AccIntegralDt', format:'%.6f'}]}) ---
    tr
      th AccRelTimeInvalid
      td
        div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/AccRelTimeInvalid'}]}) ---
    tr
      th AccTimestampRelative
      td
        div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/AccTimestampRelative'}]}) ---
    tr
      th BaroAlt
      td
        div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/BaroAlt', format:'%.2f'}]}) ---
    tr
      th BaroRelTimeInvalid
      td
        div.led-basic(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/BaroRelTimeInvalid', notext: true, class: [{eval: '==0', class: 'CDR-LED-OFF'},{eval: '==1', class: 'CDR-LED-RED'}]}]})
    tr
      th BaroTemp
      td
        div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/BaroTemp'}]}) ---
    tr
      th BaroTimestampRelative
      td
        div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/BaroTimestampRelative'}]}) ---
    tr
      th GyroIntegralDt
      td
        div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/GyroIntegralDt', format:'%.6f'}]}) ---
    tr
      th GyroRad[0]
      td
        div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/GyroRad[0]', format:'%.6f'}]}) ---
    tr
      th GyroRad[1]
      td
        div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/GyroRad[1]', format:'%.6f'}]}) ---
    tr
      th GyroRad[2]
      td
        div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/GyroRad[2]', format:'%.6f'}]}) ---
    tr
      th Mag[0]
      td
        div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/Mag[0]', format:'%.3f'}]}) ---
    tr
      th Mag[1]
      td
        div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/Mag[1]', format:'%.3f'}]}) ---
    tr
      th Mag[2]
      td
        div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/Mag[2]', format:'%.3f'}]}) ---
    tr
      th MagRelTimeInvalid
      td
        div.led-basic(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/MagRelTimeInvalid', notext: true, class: [{eval: '==0', class: 'CDR-LED-OFF'},{eval: '==1', class: 'CDR-LED-RED'}]}]})
    tr
      th MagTimestampRelative
      td
        div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/MagTimestampRelative'}]}) ---
    tr
      th Timestamp
      td
        div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCombinedMsg_t/Timestamp'}]}) ---
