#VehicleGpsPositionMsg_Vel(style='width: 100%; height: 100%; font-size: 14px;')

script.
  $(function () {
    var dataplotDef = {
      'data': [
        { 'tlm': {'name': '/PX4/PX4_VehicleGlobalPositionMsg_t/Vel_n_m_s'},
          'label': 'N',
          'color': '#ffff00'
        },
        { 'tlm': {'name': '/PX4/PX4_VehicleGlobalPositionMsg_t/Vel_e_m_s'},
          'label': 'E',
          'color': '#ff00ff'
        },
        { 'tlm': {'name': '/PX4/PX4_VehicleGlobalPositionMsg_t/Vel_d_m_s'},
          'label': 'D',
          'color': '#00ffff'
        },
        { 'tlm': {'name': '/PX4/PX4_VehicleGlobalPositionMsg_t/Vel_m_s'},
          'label': '-',
          'color': '#ffffff'
        }
      ],
      'options': {
      }
    };
    var dataplot = new CdrTimeSeriesDataplot($('#VehicleGpsPositionMsg_Vel'), dataplotDef);
  });