table.table.table-condensed
  tr
    th Azimuth[0]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Azimuth[0]'}]}) ---
  tr
    th Azimuth[1]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Azimuth[1]'}]}) ---
  tr
    th Azimuth[2]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Azimuth[2]'}]}) ---
  tr
    th Azimuth[3]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Azimuth[3]'}]}) ---
  tr
    th Azimuth[4]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Azimuth[4]'}]}) ---
  tr
    th Azimuth[5]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Azimuth[5]'}]}) ---
  tr
    th Azimuth[6]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Azimuth[6]'}]}) ---
  tr
    th Azimuth[7]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Azimuth[7]'}]}) ---
  tr
    th Azimuth[8]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Azimuth[8]'}]}) ---
  tr
    th Azimuth[9]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Azimuth[9]'}]}) ---
  tr
    th Azimuth[10]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Azimuth[10]'}]}) ---
  tr
    th Azimuth[11]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Azimuth[11]'}]}) ---
  tr
    th Azimuth[12]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Azimuth[12]'}]}) ---
  tr
    th Azimuth[13]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Azimuth[13]'}]}) ---
  tr
    th Azimuth[14]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Azimuth[14]'}]}) ---
  tr
    th Azimuth[15]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Azimuth[15]'}]}) ---
  tr
    th Azimuth[16]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Azimuth[16]'}]}) ---
  tr
    th Azimuth[17]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Azimuth[17]'}]}) ---
  tr
    th Azimuth[18]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Azimuth[18]'}]}) ---
  tr
    th Azimuth[19]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Azimuth[19]'}]}) ---
  tr
    th Count
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Count'}]}) ---
  tr
    th Elevation[0]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Elevation[0]'}]}) ---
  tr
    th Elevation[1]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Elevation[1]'}]}) ---
  tr
    th Elevation[2]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Elevation[2]'}]}) ---
  tr
    th Elevation[3]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Elevation[3]'}]}) ---
  tr
    th Elevation[4]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Elevation[4]'}]}) ---
  tr
    th Elevation[5]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Elevation[5]'}]}) ---
  tr
    th Elevation[6]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Elevation[6]'}]}) ---
  tr
    th Elevation[7]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Elevation[7]'}]}) ---
  tr
    th Elevation[8]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Elevation[8]'}]}) ---
  tr
    th Elevation[9]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Elevation[9]'}]}) ---
  tr
    th Elevation[10]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Elevation[10]'}]}) ---
  tr
    th Elevation[11]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Elevation[11]'}]}) ---
  tr
    th Elevation[12]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Elevation[12]'}]}) ---
  tr
    th Elevation[13]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Elevation[13]'}]}) ---
  tr
    th Elevation[14]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Elevation[14]'}]}) ---
  tr
    th Elevation[15]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Elevation[15]'}]}) ---
  tr
    th Elevation[16]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Elevation[16]'}]}) ---
  tr
    th Elevation[17]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Elevation[17]'}]}) ---
  tr
    th Elevation[18]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Elevation[18]'}]}) ---
  tr
    th Elevation[19]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Elevation[19]'}]}) ---
  tr
    th SNR[0]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/SNR[0]'}]}) ---
  tr
    th SNR[1]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/SNR[1]'}]}) ---
  tr
    th SNR[2]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/SNR[2]'}]}) ---
  tr
    th SNR[3]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/SNR[3]'}]}) ---
  tr
    th SNR[4]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/SNR[4]'}]}) ---
  tr
    th SNR[5]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/SNR[5]'}]}) ---
  tr
    th SNR[6]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/SNR[6]'}]}) ---
  tr
    th SNR[7]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/SNR[7]'}]}) ---
  tr
    th SNR[8]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/SNR[8]'}]}) ---
  tr
    th SNR[9]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/SNR[9]'}]}) ---
  tr
    th SNR[10]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/SNR[10]'}]}) ---
  tr
    th SNR[11]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/SNR[11]'}]}) ---
  tr
    th SNR[12]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/SNR[12]'}]}) ---
  tr
    th SNR[13]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/SNR[13]'}]}) ---
  tr
    th SNR[14]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/SNR[14]'}]}) ---
  tr
    th SNR[15]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/SNR[15]'}]}) ---
  tr
    th SNR[16]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/SNR[16]'}]}) ---
  tr
    th SNR[17]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/SNR[17]'}]}) ---
  tr
    th SNR[18]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/SNR[18]'}]}) ---
  tr
    th SNR[19]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/SNR[19]'}]}) ---
  tr
    th SVID[0]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/SVID[0]'}]}) ---
  tr
    th SVID[1]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/SVID[1]'}]}) ---
  tr
    th SVID[2]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/SVID[2]'}]}) ---
  tr
    th SVID[3]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/SVID[3]'}]}) ---
  tr
    th SVID[4]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/SVID[4]'}]}) ---
  tr
    th SVID[5]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/SVID[5]'}]}) ---
  tr
    th SVID[6]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/SVID[6]'}]}) ---
  tr
    th SVID[7]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/SVID[7]'}]}) ---
  tr
    th SVID[8]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/SVID[8]'}]}) ---
  tr
    th SVID[9]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/SVID[9]'}]}) ---
  tr
    th SVID[10]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/SVID[10]'}]}) ---
  tr
    th SVID[11]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/SVID[11]'}]}) ---
  tr
    th SVID[12]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/SVID[12]'}]}) ---
  tr
    th SVID[13]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/SVID[13]'}]}) ---
  tr
    th SVID[14]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/SVID[14]'}]}) ---
  tr
    th SVID[15]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/SVID[15]'}]}) ---
  tr
    th SVID[16]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/SVID[16]'}]}) ---
  tr
    th SVID[17]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/SVID[17]'}]}) ---
  tr
    th SVID[18]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/SVID[18]'}]}) ---
  tr
    th SVID[19]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/SVID[19]'}]}) ---
  tr
    th Timestamp
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Timestamp'}]}) ---
  tr
    th Used[0]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Used[0]'}]}) ---
  tr
    th Used[1]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Used[1]'}]}) ---
  tr
    th Used[2]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Used[2]'}]}) ---
  tr
    th Used[3]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Used[3]'}]}) ---
  tr
    th Used[4]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Used[4]'}]}) ---
  tr
    th Used[5]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Used[5]'}]}) ---
  tr
    th Used[6]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Used[6]'}]}) ---
  tr
    th Used[7]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Used[7]'}]}) ---
  tr
    th Used[8]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Used[8]'}]}) ---
  tr
    th Used[9]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Used[9]'}]}) ---
  tr
    th Used[10]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Used[10]'}]}) ---
  tr
    th Used[11]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Used[11]'}]}) ---
  tr
    th Used[12]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Used[12]'}]}) ---
  tr
    th Used[13]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Used[13]'}]}) ---
  tr
    th Used[14]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Used[14]'}]}) ---
  tr
    th Used[15]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Used[15]'}]}) ---
  tr
    th Used[16]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Used[16]'}]}) ---
  tr
    th Used[17]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Used[17]'}]}) ---
  tr
    th Used[18]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Used[18]'}]}) ---
  tr
    th Used[19]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SatelliteInfoMsg_t/Used[19]'}]}) ---
