[submodule "core/tools/auto-yamcs"]
	path = core/tools/auto-yamcs
	url = https://github.com/WindhoverLabs/auto-yamcs.git
[submodule "core/psp/obc-cpd"]
	path = core/psp/obc-cpd
	url = git@github.com:WindhoverLabs/psp-obc-cpd
[submodule "core/osal/freertos"]
	path = core/osal/freertos
	url = git@github.com:WindhoverLabs/osal-freertos
[submodule "tools/sitl_gazebo"]
	path = tools/sitl_gazebo
	url = https://github.com/WindhoverLabs/sitl_gazebo.git
[submodule "tools/mavlink/v2.0"]
	path = tools/mavlink/v2.0
	url = https://github.com/mavlink/c_library_v2.git
[submodule "tools/jMAVSim"]
	path = tools/jMAVSim
	url = https://github.com/PX4/jMAVSim.git
