[submodule "core/tools/auto-yamcs"]
	path = core/tools/auto-yamcs
	url = https://github.com:WindhoverLabs/auto-yamcs.git
[submodule "apps/vm"]
	path = apps/vm
	url = git@github.com:WindhoverLabs/vm.git
