.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 SG33BL - Command and Data Handling
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody
          tr
            th Cmd Count
            td
              div(data-cdr={tlm:[{name:'/SG33BL/SG33BL_HkTlm_t/usCmdCnt'}],indicator:'text'}) ---
          tr
            th Error Count
            td
              div(data-cdr={tlm:[{name:'/SG33BL/SG33BL_HkTlm_t/usCmdErrCnt'}],indicator:'text'}) ---
    footer.btn-group(role="group")      
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/SG33BL/Noop'},indicator:'cmd'}) No-Op    
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/SG33BL/Reset'},indicator:'cmd'}) Reset
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/SG33BL/SetVelocity'},indicator:'cmd'}) Set Velocity 
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/SG33BL/SetPosition'},indicator:'cmd'}) Set Position
      button.btn.cdr-outline-primary(data-cdr={cmd:{name:'/SG33BL/SetTorque'},indicator:'cmd'}) Set Torque
