script.
  $(function () {
        // Basic instantiation:
        $('.cdr-clr-picker').colorpicker({
          format:'hex'
          });

        // Example using an event, to change the color of the .jumbotron background:
        $('.cdr-clr-picker').on('colorpickerChange', function(event) {
          $(event.currentTarget).css('color', invertColor(event.color._color.hex()));
          $(event.currentTarget).css('background-color', event.color._color.hex());
        });
        
        $('.active-plot-list').overlayScrollbars( {    
          autoUpdate: true,
          autoUpdateInterval: 33
          } );
      });

.row.os-theme-dark
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2(style="margin-right:auto;") Data Plot
      button#cdr-dataplot-play.btn.btn-primary(type='button' title="Play Dataplot" onclick='PlayPlots(this)')
        i.fa.fa-play-circle
      button.btn.btn-primary(type='button' title="Pause Dataplot" onclick='PausePlots(this)')
        i.fa.fa-pause-circle
      button.btn.btn-primary(type='button' title="Resync Dataplot" onclick='ResyncPlots(this)')
        i.fa.fa-refresh
      button.btn.btn-primary(type='button' title="Clear Dataplot" onclick='ClearPlots(this)')
        i.fa.fa-stop-circle
      button.btn.btn-primary(type='button' onclick='DisplayControlForQuerySelector(this)')
        i.fa.fa-caret-square-o-down
    div.dataplot-container
      div.query-block
        form
          div.form-row
            div.col
              label(for='fc01') Ops Path
              input.form-control.form-control-sm(type='text' placeholder='/PX4/PX4_VehicleLandDetectedMsg_t/Landed')
            div.col
              label(for='fc04') Select Color
              input.form-control.form-control-sm.cdr-clr-picker(type='button' value='#000')
          div.form-row
            div.col-0
              button.btn.btn-outline-primary(type='button' onclick='addDpItem(this)')
                i.cdr-nav-icons.fa.fa-plus
            div.col-0
              button.btn.btn-outline-primary(type='button' onclick='removeDpItem(this)')
                i.cdr-nav-icons.fa.fa-minus
            div.col-10
              div.active-plot-list
                div.active-plot-list-content
      div.widget-graph
        div(data-cdr={indicator:'dataplot'})
        
  article.col-xs-12.col-sm-12
    header
      span.widget-icon
        i.fa.fa-table
      h2 Telemetry Control
    div.widget-body.table-responsive
      table.table.table-condensed
        tbody#cdr-dataplot-tc(data-MsgCount=0)
          tr
            th Cmd Count
            td
              div(data-cdr={tlm:[{name:'/TO/TO_HkTlm_t/usCmdCnt'}],indicator:'text'}) ---
          tr
            th Error Count
            td
              div(data-cdr={tlm:[{name:'/TO/TO_HkTlm_t/usCmdErrCnt'}],indicator:'text'}) ---
          tr
            th Message
            td 
