table.table.table-condensed
  tbody
    tr
      th Cmd Count
      td
        div(data-cdr={tlm:[{name:'/MPU6050/MPU6050_HkTlm_t/usCmdCnt'}]}) ---
    tr
      th Error Count
      td
        div(data-cdr={tlm:[{name:'/MPU6050/MPU6050_HkTlm_t/usCmdErrCnt'}]}) ---
    tr
      th State
      td
        div(data-cdr={tlm:[{name:'/MPU6050/MPU6050_HkTlm_t/State'}]}) ---
              
footer.btn-group(role='group')      
      button.btn.cdr-primary(data-cdr={cmd:{name:'/MPU6050/Noop'}}) No-Op    
      button.btn.cdr-primary(data-cdr={cmd:{name:'/MPU6050/Reset'}}) Reset
