#ControlStateMsg_Acc(style='width: 100%; height: 100%; font-size: 14px;')

script.
  $(function () {
    var dataplotDef = {
      'data': [
        { 'tlm': {'name': '/PX4/PX4_ControlStateMsg_t/AccX'},
          'label': 'X',
          'color': '#ffff00'
        },
        { 'tlm': {'name': '/PX4/PX4_ControlStateMsg_t/AccY'},
          'label': 'Y',
          'color': '#ff00ff'
        },
        { 'tlm': {'name': '/PX4/PX4_ControlStateMsg_t/AccY'},
          'label': 'Z',
          'color': '#00ffff'
        }
      ],
      'options': {
      }
    };
    var dataplot = new CdrTimeSeriesDataplot($('#ControlStateMsg_Acc'), dataplotDef);
  });