table.table.table-condensed
  tr
    th Enabled
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SubsystemInfoMsg_t/Enabled'}]}) ---
  tr
    th Ok
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SubsystemInfoMsg_t/Ok'}]}) ---
  tr
    th Present
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SubsystemInfoMsg_t/Present'}]}) ---
  tr
    th SubsystemType
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SubsystemInfoMsg_t/SubsystemType'}]}) ---
  tr
    th Timestamp
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SubsystemInfoMsg_t/Timestamp'}]}) ---
