table.table.table-condensed
  tr
    th Command
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleCommandMsg_t/Command'}]}) ---
  tr
    th Confirmation
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleCommandMsg_t/Confirmation'}]}) ---
  tr
    th Param1
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleCommandMsg_t/Param1'}]}) ---
  tr
    th Param2
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleCommandMsg_t/Param2'}]}) ---
  tr
    th Param3
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleCommandMsg_t/Param3'}]}) ---
  tr
    th Param4
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleCommandMsg_t/Param4'}]}) ---
  tr
    th Param5
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleCommandMsg_t/Param5'}]}) ---
  tr
    th Param6
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleCommandMsg_t/Param6'}]}) ---
  tr
    th Param7
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleCommandMsg_t/Param7'}]}) ---
  tr
    th SourceComponent
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleCommandMsg_t/SourceComponent'}]}) ---
  tr
    th SourceSystem
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleCommandMsg_t/SourceSystem'}]}) ---
  tr
    th TargetComponent
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleCommandMsg_t/TargetComponent'}]}) ---
  tr
    th TargetSystem
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleCommandMsg_t/TargetSystem'}]}) ---
  tr
    th Timestamp
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleCommandMsg_t/Timestamp'}]}) ---
