table.table.table-condensed
  tr
    th Altitude
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorBaroMsg_t/Altitude'}]}) ---
  tr
    th ErrorCount
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorBaroMsg_t/ErrorCount'}]}) ---
  tr
    th Pressure
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorBaroMsg_t/Pressure'}]}) ---
  tr
    th Temperature
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorBaroMsg_t/Temperature'}]}) ---
  tr
    th Timestamp
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorBaroMsg_t/Timestamp'}]}) ---
