table.table.table-condensed
  tr
    th Control[0]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorControlsMsg_t/Control[0]'}]}) ---
  tr
    th Control[1]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorControlsMsg_t/Control[1]'}]}) ---
  tr
    th Control[2]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorControlsMsg_t/Control[2]'}]}) ---
  tr
    th Control[3]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorControlsMsg_t/Control[3]'}]}) ---
  tr
    th Control[4]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorControlsMsg_t/Control[4]'}]}) ---
  tr
    th Control[5]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorControlsMsg_t/Control[5]'}]}) ---
  tr
    th Control[6]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorControlsMsg_t/Control[6]'}]}) ---
  tr
    th Control[7]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorControlsMsg_t/Control[7]'}]}) ---
  tr
    th SampleTime
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorControlsMsg_t/SampleTime'}]}) ---
  tr
    th Timestamp
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorControlsMsg_t/Timestamp'}]}) ---
