#RcChannelsMsg_Function(style='width: 100%; height: 100%; font-size: 14px;')

script.
  $(function () {
    var dataplotDef = {
      'data': [
        { 'tlm': {'name': '/PX4/PX4_McAttCtrlStatusMsg_t/Function[0]'},
          'label': '0'
        },
        { 'tlm': {'name': '/PX4/PX4_McAttCtrlStatusMsg_t/Function[1]'},
          'label': '1'
        },
        { 'tlm': {'name': '/PX4/PX4_McAttCtrlStatusMsg_t/Function[2]'},
          'label': '2'
        },
        { 'tlm': {'name': '/PX4/PX4_McAttCtrlStatusMsg_t/Function[3]'},
          'label': '3'
        },
        { 'tlm': {'name': '/PX4/PX4_McAttCtrlStatusMsg_t/Function[4]'},
          'label': '4'
        },
        { 'tlm': {'name': '/PX4/PX4_McAttCtrlStatusMsg_t/Function[5]'},
          'label': '5'
        },
        { 'tlm': {'name': '/PX4/PX4_McAttCtrlStatusMsg_t/Function[6]'},
          'label': '6'
        },
        { 'tlm': {'name': '/PX4/PX4_McAttCtrlStatusMsg_t/Function[7]'},
          'label': '7'
        },
        { 'tlm': {'name': '/PX4/PX4_McAttCtrlStatusMsg_t/Function[8]'},
          'label': '8'
        },
        { 'tlm': {'name': '/PX4/PX4_McAttCtrlStatusMsg_t/Function[9]'},
          'label': '9'
        },
        { 'tlm': {'name': '/PX4/PX4_McAttCtrlStatusMsg_t/Function[10]'},
          'label': '10'
        },
        { 'tlm': {'name': '/PX4/PX4_McAttCtrlStatusMsg_t/Function[11]'},
          'label': '11'
        },
        { 'tlm': {'name': '/PX4/PX4_McAttCtrlStatusMsg_t/Function[12]'},
          'label': '12'
        },
        { 'tlm': {'name': '/PX4/PX4_McAttCtrlStatusMsg_t/Function[13]'},
          'label': '13'
        },
        { 'tlm': {'name': '/PX4/PX4_McAttCtrlStatusMsg_t/Function[14]'},
          'label': '14'
        },
        { 'tlm': {'name': '/PX4/PX4_McAttCtrlStatusMsg_t/Function[15]'},
          'label': '15'
        },
        { 'tlm': {'name': '/PX4/PX4_McAttCtrlStatusMsg_t/Function[16]'},
          'label': '16'
        },
        { 'tlm': {'name': '/PX4/PX4_McAttCtrlStatusMsg_t/Function[17]'},
          'label': '17'
        },
        { 'tlm': {'name': '/PX4/PX4_McAttCtrlStatusMsg_t/Function[18]'},
          'label': '18'
        },
        { 'tlm': {'name': '/PX4/PX4_McAttCtrlStatusMsg_t/Function[19]'},
          'label': '19'
        },
        { 'tlm': {'name': '/PX4/PX4_McAttCtrlStatusMsg_t/Function[20]'},
          'label': '20'
        },
        { 'tlm': {'name': '/PX4/PX4_McAttCtrlStatusMsg_t/Function[21]'},
          'label': '21'
        },
        { 'tlm': {'name': '/PX4/PX4_McAttCtrlStatusMsg_t/Function[22]'},
          'label': '22'
        },
        { 'tlm': {'name': '/PX4/PX4_McAttCtrlStatusMsg_t/Function[23]'},
          'label': '23'
        },
        { 'tlm': {'name': '/PX4/PX4_McAttCtrlStatusMsg_t/Function[24]'},
          'label': '24'
        },
        { 'tlm': {'name': '/PX4/PX4_McAttCtrlStatusMsg_t/Function[25]'},
          'label': '25'
        }
      ],
      'options': {
      }
    };
    var dataplot = new CdrTimeSeriesDataplot($('#RcChannelsMsg_Function'), dataplotDef);
  });