table.table.table-condensed
  tr
    th Alt
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_HomePositionMsg_t/Alt'}]}) ---
  tr
    th DirectionX
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_HomePositionMsg_t/DirectionX'}]}) ---
  tr
    th DirectionY
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_HomePositionMsg_t/DirectionY'}]}) ---
  tr
    th DirectionZ
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_HomePositionMsg_t/DirectionZ'}]}) ---
  tr
    th Lat
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_HomePositionMsg_t/Lat'}]}) ---
  tr
    th Lon
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_HomePositionMsg_t/Lon'}]}) ---
  tr
    th Timestamp
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_HomePositionMsg_t/Timestamp'}]}) ---
  tr
    th X
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_HomePositionMsg_t/X'}]}) ---
  tr
    th Y
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_HomePositionMsg_t/Y'}]}) ---
  tr
    th Yaw
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_HomePositionMsg_t/Yaw'}]}) ---
  tr
    th Z
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_HomePositionMsg_t/Z'}]}) ---
