#ControlStateMsg_PosVariance(style='width: 100%; height: 100%; font-size: 14px;')

script.
  $(function () {
    var dataplotDef = {
      'data': [
        { 'tlm': {'name': '/PX4/PX4_ControlStateMsg_t/PosVariance[0]'},
          'label': 'X',
          'color': '#ffff00'
        },
        { 'tlm': {'name': '/PX4/PX4_ControlStateMsg_t/PosVariance[1]'},
          'label': 'Y',
          'color': '#ff00ff'
        },
        { 'tlm': {'name': '/PX4/PX4_ControlStateMsg_t/PosVariance[2]'},
          'label': 'Z',
          'color': '#00ffff'
        }
      ],
      'options': {
      }
    };
    var dataplot = new CdrTimeSeriesDataplot($('#ControlStateMsg_PosVariance'), dataplotDef);
  });