table.table.table-condensed
  tr
    th Armed
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleControlModeMsg_t/Armed'}]}) ---
  tr
    th ControlAccelerationEnabled
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleControlModeMsg_t/ControlAccelerationEnabled'}]}) ---
  tr
    th ControlAltitudeEnabled
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleControlModeMsg_t/ControlAltitudeEnabled'}]}) ---
  tr
    th ControlAttitudeEnabled
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleControlModeMsg_t/ControlAttitudeEnabled'}]}) ---
  tr
    th ControlAutoEnabled
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleControlModeMsg_t/ControlAutoEnabled'}]}) ---
  tr
    th ControlClimbRateEnabled
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleControlModeMsg_t/ControlClimbRateEnabled'}]}) ---
  tr
    th ControlFixedHdgEnabled
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleControlModeMsg_t/ControlFixedHdgEnabled'}]}) ---
  tr
    th ControlForceEnabled
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleControlModeMsg_t/ControlForceEnabled'}]}) ---
  tr
    th ControlManualEnabled
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleControlModeMsg_t/ControlManualEnabled'}]}) ---
  tr
    th ControlOffboardEnabled
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleControlModeMsg_t/ControlOffboardEnabled'}]}) ---
  tr
    th ControlPositionEnabled
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleControlModeMsg_t/ControlPositionEnabled'}]}) ---
  tr
    th ControlRatesEnabled
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleControlModeMsg_t/ControlRatesEnabled'}]}) ---
  tr
    th ControlRattitudeEnabled
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleControlModeMsg_t/ControlRattitudeEnabled'}]}) ---
  tr
    th ControlTerminationEnabled
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleControlModeMsg_t/ControlTerminationEnabled'}]}) ---
  tr
    th ControlVelocityEnabled
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleControlModeMsg_t/ControlVelocityEnabled'}]}) ---
  tr
    th ExternalManualOverrideOk
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleControlModeMsg_t/ExternalManualOverrideOk'}]}) ---
  tr
    th SystemHilEnabled
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleControlModeMsg_t/SystemHilEnabled'}]}) ---
  tr
    th Timestamp
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleControlModeMsg_t/Timestamp'}]}) ---
