table.table.table-condensed
  tr
    th Timestamp
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/Timestamp'}]}) ---
  tr
    th accel_mapping[0]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/accel_mapping[0]'}]}) ---
  tr
    th accel_mapping[1]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/accel_mapping[1]'}]}) ---
  tr
    th accel_mapping[2]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/accel_mapping[2]'}]}) ---
  tr
    th accel_offset_0[0]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/accel_offset_0[0]'}]}) ---
  tr
    th accel_offset_0[1]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/accel_offset_0[1]'}]}) ---
  tr
    th accel_offset_0[2]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/accel_offset_0[2]'}]}) ---
  tr
    th accel_offset_1[0]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/accel_offset_1[0]'}]}) ---
  tr
    th accel_offset_1[1]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/accel_offset_1[1]'}]}) ---
  tr
    th accel_offset_1[2]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/accel_offset_1[2]'}]}) ---
  tr
    th accel_offset_2[0]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/accel_offset_2[0]'}]}) ---
  tr
    th accel_offset_2[1]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/accel_offset_2[1]'}]}) ---
  tr
    th accel_offset_2[2]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/accel_offset_2[2]'}]}) ---
  tr
    th accel_scale_0[0]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/accel_scale_0[0]'}]}) ---
  tr
    th accel_scale_0[1]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/accel_scale_0[1]'}]}) ---
  tr
    th accel_scale_0[2]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/accel_scale_0[2]'}]}) ---
  tr
    th accel_scale_1[0]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/accel_scale_1[0]'}]}) ---
  tr
    th accel_scale_1[1]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/accel_scale_1[1]'}]}) ---
  tr
    th accel_scale_1[2]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/accel_scale_1[2]'}]}) ---
  tr
    th accel_scale_2[0]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/accel_scale_2[0]'}]}) ---
  tr
    th accel_scale_2[1]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/accel_scale_2[1]'}]}) ---
  tr
    th accel_scale_2[2]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/accel_scale_2[2]'}]}) ---
  tr
    th baro_mapping[0]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/baro_mapping[0]'}]}) ---
  tr
    th baro_mapping[1]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/baro_mapping[1]'}]}) ---
  tr
    th baro_mapping[2]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/baro_mapping[2]'}]}) ---
  tr
    th baro_offset_0
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/baro_offset_0'}]}) ---
  tr
    th baro_offset_1
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/baro_offset_1'}]}) ---
  tr
    th baro_offset_2
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/baro_offset_2'}]}) ---
  tr
    th baro_scale_0
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/baro_scale_0'}]}) ---
  tr
    th baro_scale_1
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/baro_scale_1'}]}) ---
  tr
    th baro_scale_2
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/baro_scale_2'}]}) ---
  tr
    th gyro_mapping[0]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/gyro_mapping[0]'}]}) ---
  tr
    th gyro_mapping[1]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/gyro_mapping[1]'}]}) ---
  tr
    th gyro_mapping[2]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/gyro_mapping[2]'}]}) ---
  tr
    th gyro_offset_0[0]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/gyro_offset_0[0]'}]}) ---
  tr
    th gyro_offset_0[1]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/gyro_offset_0[1]'}]}) ---
  tr
    th gyro_offset_0[2]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/gyro_offset_0[2]'}]}) ---
  tr
    th gyro_offset_1[0]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/gyro_offset_1[0]'}]}) ---
  tr
    th gyro_offset_1[1]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/gyro_offset_1[1]'}]}) ---
  tr
    th gyro_offset_1[2]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/gyro_offset_1[2]'}]}) ---
  tr
    th gyro_offset_2[0]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/gyro_offset_2[0]'}]}) ---
  tr
    th gyro_offset_2[1]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/gyro_offset_2[1]'}]}) ---
  tr
    th gyro_offset_2[2]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/gyro_offset_2[2]'}]}) ---
  tr
    th gyro_scale_0[0]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/gyro_scale_0[0]'}]}) ---
  tr
    th gyro_scale_0[1]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/gyro_scale_0[1]'}]}) ---
  tr
    th gyro_scale_0[2]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/gyro_scale_0[2]'}]}) ---
  tr
    th gyro_scale_1[0]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/gyro_scale_1[0]'}]}) ---
  tr
    th gyro_scale_1[1]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/gyro_scale_1[1]'}]}) ---
  tr
    th gyro_scale_1[2]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/gyro_scale_1[2]'}]}) ---
  tr
    th gyro_scale_2[0]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/gyro_scale_2[0]'}]}) ---
  tr
    th gyro_scale_2[1]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/gyro_scale_2[1]'}]}) ---
  tr
    th gyro_scale_2[2]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/gyro_scale_2[2]'}]}) ---
  tr
    th selected_accel_instance
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/selected_accel_instance'}]}) ---
  tr
    th selected_baro_instance
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/selected_baro_instance'}]}) ---
  tr
    th selected_gyro_instance
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_SensorCorrectionMsg_t/selected_gyro_instance'}]}) ---
