table.table.table-condensed
  tr
    th Failure
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_MissionResultMsg_t/Failure'}]}) ---
  tr
    th Finished
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_MissionResultMsg_t/Finished'}]}) ---
  tr
    th FlightTermination
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_MissionResultMsg_t/FlightTermination'}]}) ---
  tr
    th InstanceCount
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_MissionResultMsg_t/InstanceCount'}]}) ---
  tr
    th ItemChangedIndex
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_MissionResultMsg_t/ItemChangedIndex'}]}) ---
  tr
    th ItemDoJumpChanged
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_MissionResultMsg_t/ItemDoJumpChanged'}]}) ---
  tr
    th ItemDoJumpRemaining
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_MissionResultMsg_t/ItemDoJumpRemaining'}]}) ---
  tr
    th Reached
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_MissionResultMsg_t/Reached'}]}) ---
  tr
    th SeqCurrent
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_MissionResultMsg_t/SeqCurrent'}]}) ---
  tr
    th SeqReached
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_MissionResultMsg_t/SeqReached'}]}) ---
  tr
    th SeqTotal
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_MissionResultMsg_t/SeqTotal'}]}) ---
  tr
    th StayInFailsafe
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_MissionResultMsg_t/StayInFailsafe'}]}) ---
  tr
    th Timestamp
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_MissionResultMsg_t/Timestamp'}]}) ---
  tr
    th Valid
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_MissionResultMsg_t/Valid'}]}) ---
  tr
    th Warning
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_MissionResultMsg_t/Warning'}]}) ---
