table.table.table-condensed
  tr
    th AltMax
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLandDetectedMsg_t/AltMax'}]}) ---
  tr
    th Freefall
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLandDetectedMsg_t/Freefall'}]}) ---
  tr
    th GroundContact
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLandDetectedMsg_t/GroundContact'}]}) ---
  tr
    th Landed
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLandDetectedMsg_t/Landed'}]}) ---
  tr
    th Timestamp
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLandDetectedMsg_t/Timestamp'}]}) ---
