table.table.table-condensed
  tr
    th Timestamp
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.Timestamp'}]}) ---
  tr
    th AccelerationIsForce
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.AccelerationIsForce'}]}) ---
  tr
    th AccelerationValid
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.AccelerationValid'}]}) ---
  tr
    th AcceptanceRadius
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.AcceptanceRadius'}]}) ---
  tr
    th Alt
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.Alt'}]}) ---
  tr
    th AltValid
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.AltValid'}]}) ---
  tr
    th AX
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.AX'}]}) ---
  tr
    th AY
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.AY'}]}) ---
  tr
    th AZ
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.AZ'}]}) ---
  tr
    th CruisingSpeed
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.CruisingSpeed'}]}) ---
  tr
    th CruisingThrottle
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.CruisingThrottle'}]}) ---
  tr
    th DisableMcYawControl
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.DisableMcYawControl'}]}) ---
  tr
    th Lat
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.Lat'}]}) ---
  tr
    th LoiterDirection
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.LoiterDirection'}]}) ---
  tr
    th LoiterRadius
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.LoiterRadius'}]}) ---
  tr
    th Lon
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.Lon'}]}) ---
  tr
    th PitchMin
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.PitchMin'}]}) ---
  tr
    th Type
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.Type'}]}) ---
  tr
    th Valid
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.Valid'}]}) ---
  tr
    th VelocityFrame
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.VelocityFrame'}]}) ---
  tr
    th VelocityValid
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.VelocityValid'}]}) ---
  tr
    th VX
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.VX'}]}) ---
  tr
    th VY
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.VY'}]}) ---
  tr
    th VZ
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.VZ'}]}) ---
  tr
    th X
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.X'}]}) ---
  tr
    th Y
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.Y'}]}) ---
  tr
    th Z
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.Z'}]}) ---
  tr
    th Yaw
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.Yaw'}]}) ---
  tr
    th YawspeedValid
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.YawspeedValid'}]}) ---
  tr
    th YawValid
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Previous.YawValid'}]}) ---
  
