table.table.table-condensed
  tr
    th MainState
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_CommanderStateMsg_t/MainState'}]}) ---
  tr
    th Timestamp
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_CommanderStateMsg_t/Timestamp'}]}) ---
