table.table.table-condensed
  tr
    th Count
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_MissionMsg_t/Count'}]}) ---
  tr
    th CurrentSeq
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_MissionMsg_t/CurrentSeq'}]}) ---
  tr
    th DatamanID
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_MissionMsg_t/DatamanID'}]}) ---
  tr
    th Timestamp
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_MissionMsg_t/Timestamp'}]}) ---
