table.table.table-condensed
  tr
    th AccX
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionSetpointMsg_t/AccX'}]}) ---
  tr
    th AccY
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionSetpointMsg_t/AccY'}]}) ---
  tr
    th AccZ
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionSetpointMsg_t/AccZ'}]}) ---
  tr
    th Timestamp
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionSetpointMsg_t/Timestamp'}]}) ---
  tr
    th VX
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionSetpointMsg_t/VX'}]}) ---
  tr
    th VY
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionSetpointMsg_t/VY'}]}) ---
  tr
    th VZ
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionSetpointMsg_t/VZ'}]}) ---
  tr
    th X
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionSetpointMsg_t/X'}]}) ---
  tr
    th Y
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionSetpointMsg_t/Y'}]}) ---
  tr
    th Yaw
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionSetpointMsg_t/Yaw'}]}) ---
  tr
    th Z
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionSetpointMsg_t/Z'}]}) ---
