table.table.table-condensed
  tr
    th AcroSwitch
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ManualControlSetpointMsg_t/AcroSwitch'}]}) ---
  tr
    th ArmSwitch
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ManualControlSetpointMsg_t/ArmSwitch'}]}) ---
  tr
    th Aux1
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ManualControlSetpointMsg_t/Aux1'}]}) ---
  tr
    th Aux2
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ManualControlSetpointMsg_t/Aux2'}]}) ---
  tr
    th Aux3
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ManualControlSetpointMsg_t/Aux3'}]}) ---
  tr
    th Aux4
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ManualControlSetpointMsg_t/Aux4'}]}) ---
  tr
    th Aux5
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ManualControlSetpointMsg_t/Aux5'}]}) ---
  tr
    th DataSource
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ManualControlSetpointMsg_t/DataSource'}]}) ---
  tr
    th Flaps
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ManualControlSetpointMsg_t/Flaps'}]}) ---
  tr
    th GearSwitch
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ManualControlSetpointMsg_t/GearSwitch'}]}) ---
  tr
    th KillSwitch
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ManualControlSetpointMsg_t/KillSwitch'}]}) ---
  tr
    th LoiterSwitch
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ManualControlSetpointMsg_t/LoiterSwitch'}]}) ---
  tr
    th ManSwitch
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ManualControlSetpointMsg_t/ManSwitch'}]}) ---
  tr
    th ModeSlot
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ManualControlSetpointMsg_t/ModeSlot'}]}) ---
  tr
    th ModeSwitch
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ManualControlSetpointMsg_t/ModeSwitch'}]}) ---
  tr
    th OffboardSwitch
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ManualControlSetpointMsg_t/OffboardSwitch'}]}) ---
  tr
    th PosctlSwitch
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ManualControlSetpointMsg_t/PosctlSwitch'}]}) ---
  tr
    th R
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ManualControlSetpointMsg_t/R'}]}) ---
  tr
    th RattitudeSwitch
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ManualControlSetpointMsg_t/RattitudeSwitch'}]}) ---
  tr
    th ReturnSwitch
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ManualControlSetpointMsg_t/ReturnSwitch'}]}) ---
  tr
    th StabSwitch
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ManualControlSetpointMsg_t/StabSwitch'}]}) ---
  tr
    th Timestamp
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ManualControlSetpointMsg_t/Timestamp'}]}) ---
  tr
    th TransitionSwitch
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ManualControlSetpointMsg_t/TransitionSwitch'}]}) ---
  tr
    th X
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ManualControlSetpointMsg_t/X'}]}) ---
  tr
    th Y
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ManualControlSetpointMsg_t/Y'}]}) ---
  tr
    th Z
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ManualControlSetpointMsg_t/Z'}]}) ---
