table.table.table-condensed
  tr
    th FrameCountSinceLastReadout
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_OpticalFlowMsg_t/FrameCountSinceLastReadout'}]}) ---
  tr
    th GroundDistance
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_OpticalFlowMsg_t/GroundDistance'}]}) ---
  tr
    th GyroTemperature
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_OpticalFlowMsg_t/GyroTemperature'}]}) ---
  tr
    th GyroXRateIntegral
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_OpticalFlowMsg_t/GyroXRateIntegral'}]}) ---
  tr
    th GyroYRateIntegral
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_OpticalFlowMsg_t/GyroYRateIntegral'}]}) ---
  tr
    th GyroZRateIntegral
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_OpticalFlowMsg_t/GyroZRateIntegral'}]}) ---
  tr
    th IntegrationTimespan
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_OpticalFlowMsg_t/IntegrationTimespan'}]}) ---
  tr
    th PixelFlowXIntegral
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_OpticalFlowMsg_t/PixelFlowXIntegral'}]}) ---
  tr
    th PixelFlowYIntegral
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_OpticalFlowMsg_t/PixelFlowYIntegral'}]}) ---
  tr
    th Quality
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_OpticalFlowMsg_t/Quality'}]}) ---
  tr
    th SensorID
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_OpticalFlowMsg_t/SensorID'}]}) ---
  tr
    th TimeSinceLastSonarUpdate
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_OpticalFlowMsg_t/TimeSinceLastSonarUpdate'}]}) ---
  tr
    th Timestamp
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_OpticalFlowMsg_t/Timestamp'}]}) ---
