#VehicleAttitudeSetpointMsg_Thrust(style='width: 100%; height: 100%; font-size: 14px;')

script.
  $(function () {
    var dataplotDef = {
      'data': [
        { 'tlm': {'name': '/PX4/PX4_VehicleAttitudeSetpointMsg_t/Thrust'},
          'color': '#ffff00'
        }
      ],
      'options': {
      }
    };
    var dataplot = new CdrTimeSeriesDataplot($('#VehicleAttitudeSetpointMsg_Thrust'), dataplotDef);
  });