table.table.table-condensed
  tr
    th AX
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/AX'}]}) ---
  tr
    th AY
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/AY'}]}) ---
  tr
    th AZ
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/AZ'}]}) ---
  tr
    th Delta_VXY[0]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/Delta_VXY[0]'}]}) ---
  tr
    th Delta_VXY[1]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/Delta_VXY[1]'}]}) ---
  tr
    th Delta_VZ
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/Delta_VZ'}]}) ---
  tr
    th Delta_XY[0]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/Delta_XY[0]'}]}) ---
  tr
    th Delta_XY[1]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/Delta_XY[1]'}]}) ---
  tr
    th Delta_Z
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/Delta_Z'}]}) ---
  tr
    th DistBottom
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/DistBottom'}]}) ---
  tr
    th DistBottomRate
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/DistBottomRate'}]}) ---
  tr
    th DistBottomValid
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/DistBottomValid'}]}) ---
  tr
    th EpH
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/EpH'}]}) ---
  tr
    th EpV
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/EpV'}]}) ---
  tr
    th EstimatorType
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/EstimatorType'}]}) ---
  tr
    th EvH
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/EvH'}]}) ---
  tr
    th EvV
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/EvV'}]}) ---
  tr
    th RefAlt
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/RefAlt'}]}) ---
  tr
    th RefLat
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/RefLat'}]}) ---
  tr
    th RefLon
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/RefLon'}]}) ---
  tr
    th RefTimestamp
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/RefTimestamp'}]}) ---
  tr
    th SurfaceBottomTimestamp
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/SurfaceBottomTimestamp'}]}) ---
  tr
    th Timestamp
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/Timestamp'}]}) ---
  tr
    th VX
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/VX'}]}) ---
  tr
    th VXY_ResetCounter
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/VXY_ResetCounter'}]}) ---
  tr
    th VY
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/VY'}]}) ---
  tr
    th VZ
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/VZ'}]}) ---
  tr
    th VZ_ResetCounter
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/VZ_ResetCounter'}]}) ---
  tr
    th V_XY_Valid
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/V_XY_Valid'}]}) ---
  tr
    th V_Z_Valid
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/V_Z_Valid'}]}) ---
  tr
    th X
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/X'}]}) ---
  tr
    th XY_Global
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/XY_Global'}]}) ---
  tr
    th XY_ResetCounter
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/XY_ResetCounter'}]}) ---
  tr
    th XY_Valid
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/XY_Valid'}]}) ---
  tr
    th Y
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/Y'}]}) ---
  tr
    th Yaw
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/Yaw'}]}) ---
  tr
    th Z
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/Z'}]}) ---
  tr
    th Z_Global
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/Z_Global'}]}) ---
  tr
    th Z_ResetCounter
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/Z_ResetCounter'}]}) ---
  tr
    th Z_Valid
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleLocalPositionMsg_t/Z_Valid'}]}) ---
