table.table.table-condensed
  tr
    th VX
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGlobalVelocitySetpointMsg_t/VX'}]}) ---
  tr
    th VY
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGlobalVelocitySetpointMsg_t/VY'}]}) ---
  tr
    th VZ
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGlobalVelocitySetpointMsg_t/VZ'}]}) ---
  tr
    th Timestamp
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGlobalVelocitySetpointMsg_t/Timestamp'}]}) ---
