#VehicleAttitudeMsg_Speed(style='width: 100%; height: 100%; font-size: 14px;')

script.
  $(function () {
    var dataplotDef = {
      'data': [
        { 'tlm': {'name': '/PX4/PX4_VehicleAttitudeMsg_t/YawSpeed'},
          'label': 'Yaw',
          'color': '#ffff00'
        },
        { 'tlm': {'name': '/PX4/PX4_VehicleAttitudeMsg_t/PitchSpeed'},
          'label': 'Pitch',
          'color': '#ff00ff'
        },
        { 'tlm': {'name': '/PX4/PX4_VehicleAttitudeMsg_t/RollSpeed'},
          'label': 'Roll',
          'color': '#00ffff'
        }
      ],
      'options': {
      }
    };
    var dataplot = new CdrTimeSeriesDataplot($('#VehicleAttitudeMsg_Speed'), dataplotDef);
  });