table.table.table-condensed
  tr
    th Color
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_LedControlMsg_t/Color'}]}) ---
  tr
    th LedMask
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_LedControlMsg_t/LedMask'}]}) ---
  tr
    th Mode
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_LedControlMsg_t/Mode'}]}) ---
  tr
    th NumBlinks
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_LedControlMsg_t/NumBlinks'}]}) ---
  tr
    th Priority
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_LedControlMsg_t/Priority'}]}) ---
  tr
    th Timestamp
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_LedControlMsg_t/Timestamp'}]}) ---
