table.table.table-condensed
  tr
    th Timestamp
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Next.Timestamp'}]}) ---
  tr
    th AccelerationIsForce
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Next.AccelerationIsForce'}]}) ---
  tr
    th AccelerationValid
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Next.AccelerationValid'}]}) ---
  tr
    th AcceptanceRadius
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Next.AcceptanceRadius'}]}) ---
  tr
    th Alt
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Next.Alt'}]}) ---
  tr
    th AltValid
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Next.AltValid'}]}) ---
  tr
    th AX
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Next.AX'}]}) ---
  tr
    th AY
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Next.AY'}]}) ---
  tr
    th AZ
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Next.AZ'}]}) ---
  tr
    th CruisingSpeed
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Next.CruisingSpeed'}]}) ---
  tr
    th CruisingThrottle
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Next.CruisingThrottle'}]}) ---
  tr
    th DisableMcYawControl
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Next.DisableMcYawControl'}]}) ---
  tr
    th Lat
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Next.Lat'}]}) ---
  tr
    th LoiterDirection
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Next.LoiterDirection'}]}) ---
  tr
    th LoiterRadius
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Next.LoiterRadius'}]}) ---
  tr
    th Lon
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Next.Lon'}]}) ---
  tr
    th PitchMin
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Next.PitchMin'}]}) ---
  tr
    th Type
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Next.Type'}]}) ---
  tr
    th Valid
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Next.Valid'}]}) ---
  tr
    th VelocityFrame
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Next.VelocityFrame'}]}) ---
  tr
    th VelocityValid
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Next.VelocityValid'}]}) ---
  tr
    th VX
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Next.VX'}]}) ---
  tr
    th VY
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Next.VY'}]}) ---
  tr
    th VZ
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Next.VZ'}]}) ---
  tr
    th X
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Next.X'}]}) ---
  tr
    th Y
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Next.Y'}]}) ---
  tr
    th Z
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Next.Z'}]}) ---
  tr
    th Yaw
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Next.Yaw'}]}) ---
  tr
    th YawspeedValid
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Next.YawspeedValid'}]}) ---
  tr
    th YawValid
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_PositionSetpointTripletMsg_t/Next.YawValid'}]}) ---
  
