#VehicleLocalPositionMsg_Ev(style='width: 100%; height: 100%; font-size: 14px;')

script.
  $(function () {
    var dataplotDef = {
      'data': [
        { 'tlm': {'name': '/PX4/PX4_VehicleLocalPositionMsg_t/EvH'},
          'label': 'EvH',
          'color': '#ffff00'
        },
        { 'tlm': {'name': '/PX4/PX4_VehicleLocalPositionMsg_t/EvV'},
          'label': 'EvV',
          'color': '#ff00ff'
        }
      ],
      'options': {
      }
    };
    var dataplot = new CdrTimeSeriesDataplot($('#VehicleLocalPositionMsg_Ev'), dataplotDef);
  });