table.table.table-condensed
  tr
    th Armed
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorArmedMsg_t/Armed'}]}) ---
  tr
    th ForceFailsafe
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorArmedMsg_t/ForceFailsafe'}]}) ---
  tr
    th InEscCalibrationMode
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorArmedMsg_t/InEscCalibrationMode'}]}) ---
  tr
    th Lockdown
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorArmedMsg_t/Lockdown'}]}) ---
  tr
    th ManualLockdown
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorArmedMsg_t/ManualLockdown'}]}) ---
  tr
    th Prearmed
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorArmedMsg_t/Prearmed'}]}) ---
  tr
    th ReadyToArm
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorArmedMsg_t/ReadyToArm'}]}) ---
  tr
    th Timestamp
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_ActuatorArmedMsg_t/Timestamp'}]}) ---
