#AirspeedMsg_IndicatedAirspeed_DP(style='width: 100%; height: 100%; font-size: 14px;')

script.
  $(function () {
    var dataplotDef = {
      'data': [
        { 'tlm': {'name': '/PX4/PX4_AirspeedMsg_t/IndicatedAirspeed'},
          'label': 'Indicated Airspeed',
          'color': '#ffffff'
        }
      ],
      'options': {
      }
    };
    var dataplot = new CdrTimeSeriesDataplot($('#AirspeedMsg_IndicatedAirspeed_DP'), dataplotDef);
  });