table.table.table-condensed
  tr
    th Alt
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGlobalPositionMsg_t/Alt'}]}) ---
  tr
    th AltResetCounter
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGlobalPositionMsg_t/AltResetCounter'}]}) ---
  tr
    th DeadReckoning
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGlobalPositionMsg_t/DeadReckoning'}]}) ---
  tr
    th DeltaAlt
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGlobalPositionMsg_t/DeltaAlt'}]}) ---
  tr
    th DeltaLatLon[0]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGlobalPositionMsg_t/DeltaLatLon[0]'}]}) ---
  tr
    th DeltaLatLon[1]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGlobalPositionMsg_t/DeltaLatLon[1]'}]}) ---
  tr
    th EpH
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGlobalPositionMsg_t/EpH'}]}) ---
  tr
    th EpV
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGlobalPositionMsg_t/EpV'}]}) ---
  tr
    th EvH
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGlobalPositionMsg_t/EvH'}]}) ---
  tr
    th EvV
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGlobalPositionMsg_t/EvV'}]}) ---
  tr
    th Lat
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGlobalPositionMsg_t/Lat'}]}) ---
  tr
    th LatLonResetCounter
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGlobalPositionMsg_t/LatLonResetCounter'}]}) ---
  tr
    th Lon
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGlobalPositionMsg_t/Lon'}]}) ---
  tr
    th PressureAlt
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGlobalPositionMsg_t/PressureAlt'}]}) ---
  tr
    th TerrainAlt
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGlobalPositionMsg_t/TerrainAlt'}]}) ---
  tr
    th TerrainAltValid
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGlobalPositionMsg_t/TerrainAltValid'}]}) ---
  tr
    th TimeUtcUsec
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGlobalPositionMsg_t/TimeUtcUsec'}]}) ---
  tr
    th Timestamp
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGlobalPositionMsg_t/Timestamp'}]}) ---
  tr
    th VelD
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGlobalPositionMsg_t/VelD'}]}) ---
  tr
    th VelE
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGlobalPositionMsg_t/VelE'}]}) ---
  tr
    th VelN
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGlobalPositionMsg_t/VelN'}]}) ---
  tr
    th Yaw
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleGlobalPositionMsg_t/Yaw'}]}) ---
