table.table.table-condensed
  tr
    th ArmingState
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleStatusMsg_t/ArmingState'}]}) ---
  tr
    th ComponentID
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleStatusMsg_t/ComponentID'}]}) ---
  tr
    th DataLinkLost
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleStatusMsg_t/DataLinkLost'}]}) ---
  tr
    th DataLinkLostCounter
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleStatusMsg_t/DataLinkLostCounter'}]}) ---
  tr
    th EngineFailure
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleStatusMsg_t/EngineFailure'}]}) ---
  tr
    th EngineFailureCmd
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleStatusMsg_t/EngineFailureCmd'}]}) ---
  tr
    th Failsafe
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleStatusMsg_t/Failsafe'}]}) ---
  tr
    th HilState
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleStatusMsg_t/HilState'}]}) ---
  tr
    th InTransitionMode
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleStatusMsg_t/InTransitionMode'}]}) ---
  tr
    th IsRotaryWing
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleStatusMsg_t/IsRotaryWing'}]}) ---
  tr
    th IsVtol
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleStatusMsg_t/IsVtol'}]}) ---
  tr
    th MissionFailure
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleStatusMsg_t/MissionFailure'}]}) ---
  tr
    th NavState
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleStatusMsg_t/NavState'}]}) ---
  tr
    th OnboardControlSensorsEnabled
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleStatusMsg_t/OnboardControlSensorsEnabled'}]}) ---
  tr
    th OnboardControlSensorsHealth
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleStatusMsg_t/OnboardControlSensorsHealth'}]}) ---
  tr
    th OnboardControlSensorsPresent
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleStatusMsg_t/OnboardControlSensorsPresent'}]}) ---
  tr
    th RcInputMode
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleStatusMsg_t/RcInputMode'}]}) ---
  tr
    th RcSignalLost
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleStatusMsg_t/RcSignalLost'}]}) ---
  tr
    th SystemID
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleStatusMsg_t/SystemID'}]}) ---
  tr
    th SystemType
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleStatusMsg_t/SystemType'}]}) ---
  tr
    th Timestamp
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleStatusMsg_t/Timestamp'}]}) ---
  tr
    th VtolFwPermanentStab
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_VehicleStatusMsg_t/VtolFwPermanentStab'}]}) ---
