table.table.table-condensed
  tr
    th ChannelCount
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/ChannelCount'}]}) ---
  tr
    th Channels[0]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Channels[0]'}]}) ---
  tr
    th Channels[1]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Channels[1]'}]}) ---
  tr
    th Channels[2]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Channels[2]'}]}) ---
  tr
    th Channels[3]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Channels[3]'}]}) ---
  tr
    th Channels[4]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Channels[4]'}]}) ---
  tr
    th Channels[5]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Channels[5]'}]}) ---
  tr
    th Channels[6]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Channels[6]'}]}) ---
  tr
    th Channels[7]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Channels[7]'}]}) ---
  tr
    th Channels[8]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Channels[8]'}]}) ---
  tr
    th Channels[9]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Channels[9]'}]}) ---
  tr
    th Channels[10]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Channels[10]'}]}) ---
  tr
    th Channels[11]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Channels[11]'}]}) ---
  tr
    th Channels[12]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Channels[12]'}]}) ---
  tr
    th Channels[13]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Channels[13]'}]}) ---
  tr
    th Channels[14]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Channels[14]'}]}) ---
  tr
    th Channels[15]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Channels[15]'}]}) ---
  tr
    th Channels[16]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Channels[16]'}]}) ---
  tr
    th Channels[17]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Channels[17]'}]}) ---
  tr
    th FrameDropCount
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/FrameDropCount'}]}) ---
  tr
    th Function[0]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Function[0]'}]}) ---
  tr
    th Function[1]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Function[1]'}]}) ---
  tr
    th Function[2]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Function[2]'}]}) ---
  tr
    th Function[3]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Function[3]'}]}) ---
  tr
    th Function[4]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Function[4]'}]}) ---
  tr
    th Function[5]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Function[5]'}]}) ---
  tr
    th Function[6]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Function[6]'}]}) ---
  tr
    th Function[7]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Function[7]'}]}) ---
  tr
    th Function[8]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Function[8]'}]}) ---
  tr
    th Function[9]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Function[9]'}]}) ---
  tr
    th Function[10]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Function[10]'}]}) ---
  tr
    th Function[11]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Function[11]'}]}) ---
  tr
    th Function[12]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Function[12]'}]}) ---
  tr
    th Function[13]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Function[13]'}]}) ---
  tr
    th Function[14]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Function[14]'}]}) ---
  tr
    th Function[15]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Function[15]'}]}) ---
  tr
    th Function[16]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Function[16]'}]}) ---
  tr
    th Function[17]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Function[17]'}]}) ---
  tr
    th Function[18]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Function[18]'}]}) ---
  tr
    th Function[19]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Function[19]'}]}) ---
  tr
    th Function[20]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Function[20]'}]}) ---
  tr
    th Function[21]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Function[21]'}]}) ---
  tr
    th Function[22]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Function[22]'}]}) ---
  tr
    th Function[23]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Function[23]'}]}) ---
  tr
    th Function[24]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Function[24]'}]}) ---
  tr
    th Function[25]
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Function[25]'}]}) ---
  tr
    th RSSI
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/RSSI'}]}) ---
  tr
    th SignalLost
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/SignalLost'}]}) ---
  tr
    th Timestamp
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/Timestamp'}]}) ---
  tr
    th TimestampLastValid
    td
      div(data-cdr={tlm:[{name:'/PX4/PX4_RcChannelsMsg_t/TimestampLastValid'}]}) ---
