@import 'theme.css';       /* for the Read the Docs theme */


.wy-nav-content {
    /*max-width: 100% !important;*/
    max-width: 100% !important;
    min-width: 800px;
    background: #ffffff;
}

.wy-nav-content {
    padding:1.618em 3.236em;
    height:100%;
    max-width:800px;
    margin:auto;
}

.wy-side-scroll {
    width:auto;
    position:relative;
    overflow-x:hidden;
    overflow-y:scroll;
    height:100%;
}

.wy-nav-side {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    width:300px;
    overflow-x:hidden;
    overflow-y:auto;
    min-height:100%;
    color:#9b9b9b;
    background:#343131;
    padding-bottom:25px;
    z-index:200;
}

.wy-side-nav-search {
    display:block;
    width:auto;
    padding:.809em;
    margin-bottom:.809em;
    z-index:200;
    background-color:#F36F31;
    text-align:center;
    color:#fcfcfc;
}
