<?xml version="1.0" encoding="UTF-8"?>
<display version="2.0.0">
  <name>($(CPUID)) {{ module.app_name }} Event Filtering</name>
  <widget type="label" version="2.0.0">
    <name>Label_50</name>
    <text>($(CPUID)) {{ module.app_name }} Event Filtering</text>
    <width>1490</width>
    <font>
      <font name="Default Bold" family="Liberation Sans" style="BOLD" size="14.0">
      </font>
    </font>
    <vertical_alignment>1</vertical_alignment>
    <wrap_words>false</wrap_words>
    <actions>
    </actions>
    <border_color>
      <color red="0" green="128" blue="255">
      </color>
    </border_color>
  </widget>
  <widget type="label" version="2.0.0">
    <name>Label</name>
    <text>Mask</text>
    <x>315</x>
    <y>150</y>
    <width>60</width>
    <horizontal_alignment>2</horizontal_alignment>
    <vertical_alignment>1</vertical_alignment>
  </widget>
  <widget type="combo" version="2.0.0">
    <name>Mask</name>
    <pv_name>loc://$(APP)_$(CPUID)_$(DID)_MASK&lt;VString&gt;</pv_name>
    <x>390</x>
    <y>150</y>
    <width>312</width>
    <height>25</height>
    <items>
      <item>None (0x0000)</item>
      <item>First 1 Stop (0xFFFF)</item>
      <item>First 2 Stop (0xFFFE)</item>
      <item>First 4 Stop (0xFFFC)</item>
      <item>First 8 Stop (0xFFF8)</item>
      <item>First 16 Stop (0xFFF0)</item>
      <item>First 32 Stop (0xFFE0)</item>
      <item>First 64 Stop (0xFFC0)</item>
      <item>Every Other One (0x0001)</item>
      <item>Every Other Two (0x0002)</item>
      <item>Every Fourth One (0x0003)</item>
      <item>Custom</item>
    </items>
    <items_from_pv>false</items_from_pv>
    <editable>true</editable>
  </widget>
  <widget type="group" version="2.0.0">
    <name>All App Events</name>
    <x>280</x>
    <y>30</y>
    <width>165</width>
    <height>120</height>
    <font>
      <font family="Liberation Sans" style="BOLD" size="14.0">
      </font>
    </font>
    <widget type="action_button" version="3.0.0">
      <name>ResetFilter_1</name>
      <actions>
        <action type="execute">
          <script file="EmbeddedJs">
            <text><![CDATA[importPackage(com.windhoverlabs.yamcs.script);
importPackage(Packages.org.csstudio.display.builder.runtime.script);

var appName = widget.getEffectiveMacros().getValue("APP").toUpperCase();

Yamcs.issueCommand(widget, '/cfs/$(CPUID)/core/cfe/cfe_evs/EnableAppEvents', {
    'Payload.AppName':  appName
});

]]></text>
          </script>
        </action>
      </actions>
      <text>Enable</text>
      <x>2</x>
      <y>2</y>
      <width>113</width>
      <height>20</height>
      <foreground_color>
        <color red="255" green="255" blue="255">
        </color>
      </foreground_color>
      <background_color>
        <color red="34" green="45" blue="75">
        </color>
      </background_color>
      <tooltip>$(actions)</tooltip>
      <border_alarm_sensitive>false</border_alarm_sensitive>
    </widget>
    <widget type="action_button" version="3.0.0">
      <name>ResetFilter_2</name>
      <actions>
        <action type="execute">
          <script file="EmbeddedJs">
            <text><![CDATA[importPackage(com.windhoverlabs.yamcs.script);
importPackage(Packages.org.csstudio.display.builder.runtime.script);

var appName = widget.getEffectiveMacros().getValue("APP").toUpperCase();

Yamcs.issueCommand(widget, '/cfs/$(CPUID)/core/cfe/cfe_evs/DisableAppEvents', {
    'Payload.AppName':  appName
});

]]></text>
          </script>
        </action>
      </actions>
      <text>Disable</text>
      <x>2</x>
      <y>22</y>
      <width>113</width>
      <height>20</height>
      <background_color>
        <color name="Attention" red="255" green="160" blue="0">
        </color>
      </background_color>
      <tooltip>$(actions)</tooltip>
      <border_alarm_sensitive>false</border_alarm_sensitive>
      <show_confirm_dialog>true</show_confirm_dialog>
      <confirm_message>Are you sure you want to disable ALL $(APP) events?  You may miss important events.</confirm_message>
    </widget>
  </widget>
  <widget type="group" version="2.0.0">
    <name>App Event Types</name>
    <y>30</y>
    <width>280</width>
    <height>120</height>
    <font>
      <font family="Liberation Sans" style="BOLD" size="14.0">
      </font>
    </font>
    <widget type="action_button" version="3.0.0">
      <name>ResetFilter_4</name>
      <actions>
        <action type="execute">
          <script file="EmbeddedJs">
            <text><![CDATA[importPackage(com.windhoverlabs.yamcs.script);
importPackage(Packages.org.csstudio.display.builder.runtime.script);

var appName = widget.getEffectiveMacros().getValue("APP").toUpperCase();

Yamcs.issueCommand(widget, '/cfs/$(CPUID)/core/cfe/cfe_evs/EnableAppEventType', {
    'Payload.AppName':  appName,
    'Payload.BitMask':  '0x0008',
    'Payload.Spare':  '0'
});

]]></text>
          </script>
        </action>
      </actions>
      <text>Enable Critical</text>
      <x>2</x>
      <y>2</y>
      <width>120</width>
      <height>20</height>
      <foreground_color>
        <color red="255" green="255" blue="255">
        </color>
      </foreground_color>
      <background_color>
        <color red="34" green="45" blue="75">
        </color>
      </background_color>
      <tooltip>$(actions)</tooltip>
      <border_alarm_sensitive>false</border_alarm_sensitive>
    </widget>
    <widget type="action_button" version="3.0.0">
      <name>ResetFilter_5</name>
      <actions>
        <action type="execute">
          <script file="EmbeddedJs">
            <text><![CDATA[importPackage(com.windhoverlabs.yamcs.script);
importPackage(Packages.org.csstudio.display.builder.runtime.script);

var appName = widget.getEffectiveMacros().getValue("APP").toUpperCase();

Yamcs.issueCommand(widget, '/cfs/$(CPUID)/core/cfe/cfe_evs/DisableAppEventType', {
    'Payload.AppName':  appName,
    'Payload.BitMask':  '0x0008',
    'Payload.Spare':  '0'
});
]]></text>
          </script>
        </action>
      </actions>
      <text>Disable Critical</text>
      <x>122</x>
      <y>2</y>
      <width>120</width>
      <height>20</height>
      <background_color>
        <color name="Attention" red="255" green="160" blue="0">
        </color>
      </background_color>
      <tooltip>$(actions)</tooltip>
      <border_alarm_sensitive>false</border_alarm_sensitive>
      <show_confirm_dialog>true</show_confirm_dialog>
      <confirm_message>Are you sure you want to disable ALL critical $(APP) events?  You may miss important events.</confirm_message>
    </widget>
    <widget type="action_button" version="3.0.0">
      <name>ResetFilter_6</name>
      <actions>
        <action type="execute">
          <script file="EmbeddedJs">
            <text><![CDATA[importPackage(com.windhoverlabs.yamcs.script);
importPackage(Packages.org.csstudio.display.builder.runtime.script);

var appName = widget.getEffectiveMacros().getValue("APP").toUpperCase();

Yamcs.issueCommand(widget, '/cfs/$(CPUID)/core/cfe/cfe_evs/EnableAppEventType', {
    'Payload.AppName':  appName,
    'Payload.BitMask':  '0x0004',
    'Payload.Spare':  '0'
});
]]></text>
          </script>
        </action>
      </actions>
      <text>Enable Error</text>
      <x>2</x>
      <y>22</y>
      <width>120</width>
      <height>20</height>
      <foreground_color>
        <color red="255" green="255" blue="255">
        </color>
      </foreground_color>
      <background_color>
        <color red="34" green="45" blue="75">
        </color>
      </background_color>
      <tooltip>$(actions)</tooltip>
      <border_alarm_sensitive>false</border_alarm_sensitive>
    </widget>
    <widget type="action_button" version="3.0.0">
      <name>ResetFilter_7</name>
      <actions>
        <action type="execute">
          <script file="EmbeddedJs">
            <text><![CDATA[importPackage(com.windhoverlabs.yamcs.script);
importPackage(Packages.org.csstudio.display.builder.runtime.script);

var appName = widget.getEffectiveMacros().getValue("APP").toUpperCase();

Yamcs.issueCommand(widget, '/cfs/$(CPUID)/core/cfe/cfe_evs/DisableAppEventType', {
    'Payload.AppName':  appName,
    'Payload.BitMask':  '0x0004',
    'Payload.Spare':  '0'
});
]]></text>
          </script>
        </action>
      </actions>
      <text>Disable Error</text>
      <x>122</x>
      <y>22</y>
      <width>120</width>
      <height>20</height>
      <background_color>
        <color name="Attention" red="255" green="160" blue="0">
        </color>
      </background_color>
      <tooltip>$(actions)</tooltip>
      <border_alarm_sensitive>false</border_alarm_sensitive>
      <show_confirm_dialog>true</show_confirm_dialog>
      <confirm_message>Are you sure you want to disable ALL error $(APP) events?  You may miss important events.</confirm_message>
    </widget>
    <widget type="action_button" version="3.0.0">
      <name>ResetFilter_8</name>
      <actions>
        <action type="execute">
          <script file="EmbeddedJs">
            <text><![CDATA[importPackage(com.windhoverlabs.yamcs.script);
importPackage(Packages.org.csstudio.display.builder.runtime.script);

var appName = widget.getEffectiveMacros().getValue("APP").toUpperCase();

Yamcs.issueCommand(widget, '/cfs/$(CPUID)/core/cfe/cfe_evs/EnableAppEventType', {
    'Payload.AppName':  appName,
    'Payload.BitMask':  '0x0002',
    'Payload.Spare':  '0'
});
]]></text>
          </script>
        </action>
      </actions>
      <text>Enable Info</text>
      <x>2</x>
      <y>42</y>
      <width>120</width>
      <height>20</height>
      <foreground_color>
        <color red="255" green="255" blue="255">
        </color>
      </foreground_color>
      <background_color>
        <color red="34" green="45" blue="75">
        </color>
      </background_color>
      <tooltip>$(actions)</tooltip>
      <border_alarm_sensitive>false</border_alarm_sensitive>
    </widget>
    <widget type="action_button" version="3.0.0">
      <name>ResetFilter_9</name>
      <actions>
        <action type="execute">
          <script file="EmbeddedJs">
            <text><![CDATA[importPackage(com.windhoverlabs.yamcs.script);
importPackage(Packages.org.csstudio.display.builder.runtime.script);

var appName = widget.getEffectiveMacros().getValue("APP").toUpperCase();

Yamcs.issueCommand(widget, '/cfs/$(CPUID)/core/cfe/cfe_evs/DisableAppEventType', {
    'Payload.AppName':  appName,
    'Payload.BitMask':  '0x0002',
    'Payload.Spare':  '0'
});
]]></text>
          </script>
        </action>
      </actions>
      <text>Disable Info</text>
      <x>122</x>
      <y>42</y>
      <width>120</width>
      <height>20</height>
      <foreground_color>
        <color red="255" green="255" blue="255">
        </color>
      </foreground_color>
      <background_color>
        <color red="34" green="45" blue="75">
        </color>
      </background_color>
      <tooltip>$(actions)</tooltip>
      <border_alarm_sensitive>false</border_alarm_sensitive>
    </widget>
    <widget type="action_button" version="3.0.0">
      <name>ResetFilter_10</name>
      <actions>
        <action type="execute">
          <script file="EmbeddedJs">
            <text><![CDATA[importPackage(com.windhoverlabs.yamcs.script);
importPackage(Packages.org.csstudio.display.builder.runtime.script);

var appName = widget.getEffectiveMacros().getValue("APP").toUpperCase();

Yamcs.issueCommand(widget, '/cfs/$(CPUID)/core/cfe/cfe_evs/EnableAppEventType', {
    'Payload.AppName':  appName,
    'Payload.BitMask':  '0x0001',
    'Payload.Spare':  '0'
});
]]></text>
          </script>
        </action>
      </actions>
      <text>Enable Debug</text>
      <x>2</x>
      <y>62</y>
      <width>120</width>
      <height>20</height>
      <background_color>
        <color name="Attention" red="255" green="160" blue="0">
        </color>
      </background_color>
      <tooltip>$(actions)</tooltip>
      <border_alarm_sensitive>false</border_alarm_sensitive>
      <show_confirm_dialog>true</show_confirm_dialog>
      <confirm_message>Are your sure you want to enable all $(APP) debug events?  This may saturate the console or downlink.</confirm_message>
    </widget>
    <widget type="action_button" version="3.0.0">
      <name>ResetFilter_11</name>
      <actions>
        <action type="execute">
          <script file="EmbeddedJs">
            <text><![CDATA[importPackage(com.windhoverlabs.yamcs.script);
importPackage(Packages.org.csstudio.display.builder.runtime.script);

var appName = widget.getEffectiveMacros().getValue("APP").toUpperCase();

Yamcs.issueCommand(widget, '/cfs/$(CPUID)/core/cfe/cfe_evs/DisableAppEventType', {
    'Payload.AppName':  appName,
    'Payload.BitMask':  '0x0001',
    'Payload.Spare':  '0'
});
]]></text>
          </script>
        </action>
      </actions>
      <text>Disable Debug</text>
      <x>122</x>
      <y>62</y>
      <width>120</width>
      <height>20</height>
      <foreground_color>
        <color red="255" green="255" blue="255">
        </color>
      </foreground_color>
      <background_color>
        <color red="34" green="45" blue="75">
        </color>
      </background_color>
      <tooltip>$(actions)</tooltip>
      <border_alarm_sensitive>false</border_alarm_sensitive>
    </widget>
  </widget>
  <widget type="group" version="2.0.0">
    <name>Resets</name>
    <x>445</x>
    <y>30</y>
    <width>210</width>
    <height>120</height>
    <font>
      <font family="Liberation Sans" style="BOLD" size="14.0">
      </font>
    </font>
    <widget type="action_button" version="3.0.0">
      <name>ResetFilter_12</name>
      <actions>
        <action type="execute">
          <script file="EmbeddedJs">
            <text><![CDATA[importPackage(com.windhoverlabs.yamcs.script);
importPackage(Packages.org.csstudio.display.builder.runtime.script);

var appName = widget.getEffectiveMacros().getValue("APP").toUpperCase();

Yamcs.issueCommand(widget, '/cfs/$(CPUID)/core/cfe/cfe_evs/ResetAppEventCounters', {
    'Payload.AppName':  appName
});
]]></text>
          </script>
        </action>
      </actions>
      <text>Reset Event Counters</text>
      <y>2</y>
      <width>170</width>
      <height>20</height>
      <foreground_color>
        <color red="255" green="255" blue="255">
        </color>
      </foreground_color>
      <background_color>
        <color red="34" green="45" blue="75">
        </color>
      </background_color>
      <tooltip>$(actions)</tooltip>
      <border_alarm_sensitive>false</border_alarm_sensitive>
    </widget>
    <widget type="action_button" version="3.0.0">
      <name>ResetFilter_13</name>
      <actions>
        <action type="execute">
          <script file="EmbeddedJs">
            <text><![CDATA[importPackage(com.windhoverlabs.yamcs.script);
importPackage(Packages.org.csstudio.display.builder.runtime.script);

var appName = widget.getEffectiveMacros().getValue("APP").toUpperCase();

Yamcs.issueCommand(widget, '/cfs/$(CPUID)/core/cfe/cfe_evs/ResetAppFilters', {
    'Payload.AppName':  appName
});
]]></text>
          </script>
        </action>
      </actions>
      <text>Reset All Filters</text>
      <y>22</y>
      <width>170</width>
      <height>20</height>
      <foreground_color>
        <color red="255" green="255" blue="255">
        </color>
      </foreground_color>
      <background_color>
        <color red="34" green="45" blue="75">
        </color>
      </background_color>
      <tooltip>$(actions)</tooltip>
      <border_alarm_sensitive>false</border_alarm_sensitive>
    </widget>
  </widget>
  
  
  {%- if (module.events is defined) and (module.events|length > 0)       %}
  {%-   set y = namespace(value=180)                                 %}
  {%-   set ROW_HEIGHT = 20                                          %}
  {%-   set events = module['events']                                  %}
  {%-   for event in events                                          %}
  <widget type="group" version="2.0.0">
    <name>Event_Group_{{ events[event].id }}</name>
    <macros>
      <EID>{{ events[event].id }}</EID>
    </macros>
    <y>{{ y.value }}</y>
    <width>702</width>
    <height>20</height>
    <style>3</style>
    <transparent>true</transparent>
    <widget type="action_button" version="3.0.0">
      <name>Event_ResetFilter_{{ events[event].id }}</name>
      <actions>
        <action type="execute">
          <script file="$(DISPLAYS_ROOT_DIR)/$(CPUID)/core/cfe/cfe_evs/resources/scripts/JS/ResetAppEventFilter.js">
          </script>
        </action>
      </actions>
      <text>Reset</text>
      <x>389</x>
      <width>79</width>
      <height>20</height>
      <foreground_color>
        <color red="255" green="255" blue="255">
        </color>
      </foreground_color>
      <background_color>
        <color red="34" green="45" blue="75">
        </color>
      </background_color>
      <tooltip>$(actions)</tooltip>
      <border_alarm_sensitive>false</border_alarm_sensitive>
    </widget>
    <widget type="action_button" version="3.0.0">
      <name>Event_SetFilter_{{ events[event].id }}</name>
      <actions>
        <action type="execute">
          <script file="$(DISPLAYS_ROOT_DIR)/$(CPUID)/core/cfe/cfe_evs/resources/scripts/JS/SetAppEventFilter.js">
          </script>
        </action>
      </actions>
      <text>Set</text>
      <x>467</x>
      <width>79</width>
      <height>20</height>
      <foreground_color>
        <color red="255" green="255" blue="255">
        </color>
      </foreground_color>
      <background_color>
        <color red="34" green="45" blue="75">
        </color>
      </background_color>
      <tooltip>$(actions)</tooltip>
      <border_alarm_sensitive>false</border_alarm_sensitive>
    </widget>
    <widget type="action_button" version="3.0.0">
      <name>Event_AddFilter_{{ events[event].id }}</name>
      <actions>
        <action type="execute">
          <script file="$(DISPLAYS_ROOT_DIR)/$(CPUID)/core/cfe/cfe_evs/resources/scripts/JS/AddAppEventFilter.js">
          </script>
        </action>
      </actions>
      <text>Add</text>
      <x>545</x>
      <width>79</width>
      <height>20</height>
      <foreground_color>
        <color red="255" green="255" blue="255">
        </color>
      </foreground_color>
      <background_color>
        <color red="34" green="45" blue="75">
        </color>
      </background_color>
      <tooltip>$(actions)</tooltip>
      <border_alarm_sensitive>false</border_alarm_sensitive>
    </widget>
    <widget type="action_button" version="3.0.0">
      <name>Event_DeleteFilter_{{ events[event].id }}</name>
      <actions>
        <action type="execute">
          <script file="$(DISPLAYS_ROOT_DIR)/$(CPUID)/core/cfe/cfe_evs/resources/scripts/JS/DeleteAppEventFilter.js">
          </script>
        </action>
      </actions>
      <text>Delete</text>
      <x>623</x>
      <width>79</width>
      <height>20</height>
      <foreground_color>
        <color red="255" green="255" blue="255">
        </color>
      </foreground_color>
      <background_color>
        <color red="34" green="45" blue="75">
        </color>
      </background_color>
      <tooltip>$(actions)</tooltip>
      <border_alarm_sensitive>false</border_alarm_sensitive>
    </widget>
    <widget type="label" version="2.0.0">
      <name>Event_Label_{{ events[event].id }}</name>
      <text>({{ events[event].id }}) {{ event }}</text>
      <width>370</width>
      <vertical_alignment>1</vertical_alignment>
    </widget>
  </widget>
  {%-     set y.value = y.value + ROW_HEIGHT                         %}
  {%-   endfor                                                       %}
  {%-   set totalHeight = y.value + 20                               %}
  {%- endif                                                          %}
  <height>{{ totalHeight }}</height>
</display>
