/************************************************************************
**
** Purpose: 
**  The CFS Scheduler (SCH) Application Message IDs header file
**
** Notes:
**
*************************************************************************/
#ifndef _sch_msgids_h_
#define _sch_msgids_h_

/**************************
** SCH Command Message IDs
***************************/
#define SCH_CMD_MID                    ({{ commands.SCH_CMD_MID.msgid }}) /**< \brief SCH Ground Commands Message ID */
#define SCH_SEND_HK_MID                ({{ commands.SCH_SEND_HK_MID.msgid }}) /**< \brief SCH Send Housekeeping Message ID */


/***************************
** SCH Telemetry Message IDs
****************************/
#define SCH_HK_TLM_MID                 ({{ telemetry.SCH_HK_TLM_MID.msgid }}) /**< \brief SCH Housekeeping Telemetry Message ID */
#define SCH_DIAG_TLM_MID               ({{ telemetry.SCH_DIAG_TLM_MID.msgid }}) /**< \brief SCH Diagnostic Telemetry Message ID */

#define SCH_ACTIVITY_DONE_MID          ({{ telemetry.SCH_ACTIVITY_DONE_MID.msgid }})


#define SCH_UNUSED_MID                 (0)


#endif /* _sch_msgids_h_ */

/************************/
/*  End of File Comment */
/************************/
