table.table.table-condensed
  tbody
    tr
      th Cmd Count
      td
        div(data-cdr={tlm:[{name:'/LD/LD_HkTlm_t/usCmdCnt'}]}) ---
    tr
      th Error Count
      td
        div(data-cdr={tlm:[{name:'/LD/LD_HkTlm_t/usCmdErrCnt'}]}) ---

footer.btn-group(role="group")      
  button.btn.cdr-primary(data-cdr={cmd:{name:'/LD/Noop'}}) No-Op    
  button.btn.cdr-primary(data-cdr={cmd:{name:'/LD/Reset'}}) Reset
