
{% for symbol in symbols %}
extern int {{ symbol.name }}();
{%- endfor %}

typedef struct {
    char  name[255];
    void* address;
} SymEntry;
    
SymEntry OS_CoreExports[] =
{
{%- for symbol in symbols %}
    { "{{ symbol.name }}", {{ symbol.name }} },
{%- endfor %}
    { "", 0 }
};
