table.table.table-condensed
  tbody
    tr
      th Cmd Count
      td
        div(data-cdr={tlm:[{name:'/{{cookiecutter.app_name}}/{{cookiecutter.app_name}}_HkTlm_t/usCmdCnt'}]}) ---
    tr
      th Error Count
      td
        div(data-cdr={tlm:[{name:'/{{cookiecutter.app_name}}/{{cookiecutter.app_name}}_HkTlm_t/usCmdErrCnt'}]}) ---
              
footer.btn-group(role="group")      
  button.btn.cdr-primary(data-cdr={cmd:{name:'/{{cookiecutter.app_name}}/Noop'}}) No-Op    
  button.btn.cdr-primary(data-cdr={cmd:{name:'/{{cookiecutter.app_name}}/Reset'}}) Reset    
  button.btn.cdr-primary(data-cdr={cmd:{name:'/{{cookiecutter.app_name}}/SendHk'}}) Send HK  
  button.btn.cdr-primary(data-cdr={cmd:{name:'/{{cookiecutter.app_name}}/Wakeup'}}) Wakeup
      
