/************************************************************************
** Purpose: 
**  Define SCH Performance IDs
**
** Notes:
**
*************************************************************************/
#ifndef _sch_perfids_h_
#define _sch_perfids_h_

#define SCH_APPMAIN_PERF_ID    ({{ perfids.SCH_APPMAIN_PERF_ID.id }})

#endif /* _sch_perfids_h_ */

/************************/
/*  End of File Comment */
/************************/
